<!doctype html>
<html lang="en">
<head>

	<meta charset="UTF-8">

	<meta name="description" content="Creating Animation and Video.">

	<meta name="viewport" content="width=device-width">

	<title>ANIVID - Home </title>

	<link rel="stylesheet" href="css/styles.css">

	<script src="js/jquery.min.js" type="text/javascript"></script>
	<script src="js/popup.js" type="text/javascript"></script>


</head>

<body>
	
	<div id = "wrapper">
		
		<div class = "container">
			
			<div class = "header">
				
				<div class = "header-left">
				
					<a href="index.html" title = "Logo"></a>&nbsp;&nbsp;<h1>ANIVID</h1>
				
				</div><!-- end header -->
				
				<div class = "header-right">
					
					<div class = "before-login">
						<ul>
							<li class = "signup-link-li"><a href="javascript:void()">Sign up</a></li>
							
							<li class = "signin-link-li"><a href="javascript:void()">Login</a></li>
							
							<li class = "drop-down-menu"><a  href="javascript:void()">Plans and Pricing <img src="img/dropdown.png" alt="Arrow"></a>
								
								<ul class = "dropdown">
										<li><a href="commercial-use-plans.html">For Commercial use</a></li>
										<li><a href="personal-use-plans.html">For Personal use </a></li>
								</ul>	

							</li>
						
							<a href="javascript:void()" class ="btn-primary">START TRY</a>
						
						</ul>						

					</div>	
					<!-- end before-login-->		

					
					<!-- <div class = "after-login">
							<ul >
								<li class = "drop-down-menu">
									<a href = "javascript:void()" >Your Account 
										<img src="img/dropdown.png" alt="Drop Down Arrow">
									</a>
									<ul class = "dropdown">
										<li><a href="javascript:void()"></a>Your videos</li>
										<li>Account Settings</li>
										<li>Log out</li>
									</ul>
								</li>
								<li class = "drop-down-menu">
									<a href = "javascript:void()">Plans and Pricing 
									<img src="img/dropdown.png" alt="Drop Down Arrow"></a>
									
									<ul class = "dropdown">
										<li><a href="javascript:void(0)">For Commercial use</a></li>
										<li><a href="javascript:void(0)">For Personal use </a></li>
									</ul>	
								</li>
							</ul>
							
							<a href="javascript:void()" class ="btn-primary">START TRY</a>
					</div>  -->
					<!-- end after - login -->

				</div>
				<!-- end header-right -->
			</div>
			<!-- end header -->
		</div>
		<!-- end container -->
		
		<div id="main-container">
			
			<section class = "banner-bg">
				<div class="container">
					
					<div class = "banner">
					
						<h1>Make professional animated video</h1>
						
						<h2>Low learning curve. Low budget. Simple do-it-yourself tools.</h2>

						<div class ="banner-play-button"></div>
						<div class = "char1"></div>
						<div class = "char2"></div>
						<div class = "char3"></div>
						<div class = "char4"></div>
						<div class = "btn">
							<a href="javascript:void()" class="btn-primary">START TRY</a>
						</div>
					
					</div><!-- end banner -->
				
				</div><!-- end container-->
			
			</section>

			<section class = "diagonal-texture">
				<div class="container">
					<div class="great-videos">

						<h1>Make great videos within a short time</h1>

						<div class="great-videos-info">
							<ul>
								<li>
									<div class="screen"></div>

									<h2>WORKS IN WIDE SCREEN DEVICES</h2>
									
									<p>You just need an internet connection. No setup required.</p>
								</li>
								<li>
									<div class="rocket"></div>

									<h2>EASY TO USE AND FAST</h2>
									<p>No big team or budget. Just you and our easy-to-use tools.</p>
								</li>
								<li>
									<div class="picture"></div>

									<h2>MULTIPLE AND UNLIMITED ACCESS</h2>
									<p>Our subscriptions include unlimited creation, hosting and download.</p>
								</li>
							</ul>
						</div> <!-- end great videos info -->
					</div><!--great videos -->
				</div><!-- end container -->
			</section><!-- end texture -->
			
			<section class = "slider-video">
				<div class="container">
					
					<div class="slider">
						
						<h1>Easy and powerful tools at he click of a mouse</h1>
						
						<img src="img/chrome.png" alt ="slider demo for animation">
						
						<div class = "slider-nav">
							
							<img src="img/slider-nav.png" alt="">
							<img src="img/slider-nav.png" alt="">
							<img src="img/slider-nav.png" alt="">
							<img src="img/slider-nav.png" alt="">
							
						</div><!-- end slider-nav -->

					</div><!-- end tools -->
				
				</div><!-- end container -->	
			</section><!-- end slider -->

			<section class="video-data">
				<div class="container">
					<div class="animated-video">

						<h1>Why Animated video</h1>

						<div class = "mac">
							<img src="img/imac.png" alt="" />
						
							<div class = "thumblin-diversity">
								<div class = "thumblin-img">
									<img src="img/diversity.png" alt="Diversity">
								</div>
								<div class = "thumblin-text">
									<h2>Represent diversity</h2>
									<p>Our characters can be customized into hundreds of different shades of color. Represent diversity effectively, without having to cast actors of a specific race or background.</p>
								</div>
							</div>

							<div class = "thumblin-laws">
								<div class = "thumblin-img">
									<img src="img/laws.png" alt="Diversity">
								</div>
								<div class = "thumblin-text">
									<h2>Bend laws of nature</h2>
									<p>Animation, with its ability to slide scales and bend the laws of nature, provides the flexibility to really bring product benefits to life.</p>
								</div>
							</div>									

							<div class = "thumblin-ideas">
								<div class = "thumblin-img">
									<img src="img/ideas.png" alt="Diversity">
								</div>
								<div class = "thumblin-text"><h2>Give context to your ideas</h2>
									<p>Imagine starting on a closeup of a tree, then zooming out to show the entire forest, then blasting up into the sky for the BIG top view. Animated video makes it simple to put it all in perspective.</p>
								</div>
							</div>

						
						<div class = "thumblin-explore">
							<div class = "thumblin-img">
								<img src="img/explore.png" alt="Diversity">
							</div>
							<div class = "thumblin-text">
								<h2>Explore different ways</h2>
								<p>With animated video, you are not constrained by video footage. Switch backgrounds, move characters, add props. Test different ways to communicate your message.</p>
							</div>
						</div>

						<div class = "thumblin-thoughts">
							<div class = "thumblin-img">
								<img src="img/thoughts.png" alt="Diversity">
							</div>
							<div class = "thumblin-text">
								
								<h2>Change thoughts into visuals</h2>
								<p>Animation is good at demonstrating the steps in a process. It is even better at demonstrating the thinking behind a process, by adapting from literal to conceptual with ease.</p>
							</div>
						</div>
						
						<div class = "thumblin-strike">
							<div class = "thumblin-img">
								<img src="img/strike.png" alt="Diversity">
							</div>
							<div class = "thumblin-text">
								<h2>Strike the right tone</h2>
								<p>The abstraction away from portraying real individuals allows animated video to strike a wider range of emotional tones. This can help cover difficult subjects frankly and effectively, without causing the audience to get its defenses up.</p>
							</div>
						</div>
					<div><!-- end of mac -->

					</div><!-- end animated video -->
				</div><!-- end container -->	
			</section>

			<section class ="sample-video-data">
				<div class="container">
					<div class="smaple-video">
						<h1>Sample video</h1>
						<ul>
							<li>
								<div class = "video">
									<div class = "video-img">
										<img src="img/sample-video1.png" alt="">
									</div>	
									<div class ="play-button"></div>
								</div>
							</li>
							<li>
								<div class = "video">
									<div class = "video-img">
										<img src="img/sample-video2.png" alt="">
									</div>	
									<div class ="play-button"></div>
								</div>
							</li>
							<li>
								<div class = "video">
									<div class = "video-img">
										<img src="img/sample-video3.png" alt="">
									</div>	
									<div class ="play-button"></div>
								</div>
								
							</li>
						</ul>
					</div><!-- end smaple-video -->
				</div><!-- end container -->	
			</section><!-- Smaple video data-->
	
			
			<section class = "many-uses">
			
				<div class="container">

					<div class="uses">
						<h1>So many uses - so little cost</h1>
						<ul>
							<li>
								<h2>MARKETING AUTOMATION VIDEOS</h2>
								<p>Make videos to help you develop your leads and increase conversions for your business.</p>
							</li>
						
							<li>
								<h2>VIDEOS FOR TRAINING AND E-LEARNING</h2>
								<p>Make training videos online 	and publish to leading courseware authoring tools such as Lectora, Articulate or Captivate.</p>
							</li>
							
							<li>
								<h2>PRODUCE VIDEO ADVERTISING CREATIVE</h2>
								<p>Create advertising spots for online video distribution, such as on YouTube, Facebook or Hulu.</p>
							</li>
						
							<li>
								<h2>CONTENT AND INBOUND MARKETING</h2>
								<p>Create videos full of rich content to develop your professional reputation and attract customers to your site.</p>
							</li>
						
							<li>
								<h2>VIDEO PRESENTATIONS</h2>
								<p>Make training videos online and publish to leading courseware authoring tools such as Lectora, Articulate or Captivate.</p>
							</li>
						
							<li>
								<h2>CREATE A VIDEO RESUME</h2>
								<p>Stand out from the pack with an animated video resume. Upload it to LinkedIn!</p>
							</li>
						
							<li>
								<h2>DEMO OR EXPLAINER VIDEOS</h2>
								<p>Use our affordable online video makers to help explain a complex concept or to promote your product or company.</p>
							</li>
						
							<li>
								<h2>SMALL BUSINESS MARKETING</h2>
								<p>Level the playing field by quickly producing professional videos for your web site.</p>
							</li>
						
							<li>
								<h2>VIDEOS FOR CROWDSOURCING</h2>
								<p>Rally support for your Kickstarter or Indiegogo campaign with a fun, shareable video.</p>
							</li>
						
							<li>
							<h2>SOCIAL MEDIA MARKETING</h2>
							<p>Share lighthearted or funny videos to show the human side of your company.</p>
							</li>
						
							<li>
								<h2>PRODUCE CORPORATE VIDEOS FOR YOUR CLIENTS</h2>
								<p>Level the playing field by quickly producing professional videos for your web site.</p>
							</li>
							
							<li>
								<h2>TONS OF SUPPORT</h2>
								<p>Our resources and community will help you quickly learn how to make a video online.</p>
							</li>
						</ul>
					</div><!-- end uses -->
				</div><!-- end container -->	
			</section><!-- end of many-uses -->
	
			<section class = "plans-price">
				<div class="container">
					<div class="green-div">
						<h2>Green light your video</h2>
						<a href="javascript:void()" class = "btn-primary">Signup for free</a>
						<a href="javascript:void()" class = "btn-secondary">	Plans and pricing</a>
					</div><!-- business -->
				</div><!-- end container -->	
			</section>
		</div><!-- end main-container -->
		

		<!-- popup for sign in -->

		<div class="login-popup signin-popup-display">

			<div class="close-button signin-popup-close"></div>

			<div class="form-heading">
				<h1>Login <span>ANIVID</span></h1>
			</div><!-- end heading -->

			<div class="login-form">
				<form action="/auth/login" method="post" name="login-form">
					<div class="input-field"><label for="email">Email address</label>
						<div class="input-box">
							<input type="email" name="email" id="email">
						</div>
					</div><!-- end input field -->

					<div class="input-field"><label for="password">Password</label>
						<div class="input-box">
							<input type="password" name="password" id="password">
						</div>
					</div><!-- end input field -->

					<div class="login-button">
						<div class="login">
							<div class="submit-btn">
								<button type = "submit" id = "login-submit"class = "btn-primary">Sign in</button>
							</div>
							<div class = "forgot-pwd">
							<label for="forgot-password">
								<a href="javascript:void()">Forgot Password?</a></label>
							</div>
						</div>
					</div>							
				</form><!-- end form -->
			</div><!-- end login-form -->

			<div class="social-btns login-margin">
				<a href="/auth/facebook" class="btn-blue left">
					<div class = "fb-main">
						<div class="fb-icon"></div>
						<div class ="fb-text">Sign in with Facebook</div>
					</div>
				</a>
				
				<a href="/auth/google" class = "btn-white right">					
					<div class="gplus-main">
						<div class="gplus-icon"></div>
						<div class ="gplus-text">Sign in with Google</div>
					</div>
				</a>
			</div>
		</div> <!-- end login-popup -->

		<!-- end of sign-in popup -->


		<!-- signup popup -->
		<div class="login-popup signup-popup-display">

			<div class="close-button signup-popup-close"></div>

			<div class="form-heading">
				<h1>Join <span>ANIVID</span></h1>
			</div><!-- end heading -->

			<div class="login-form">
				<form action="/auth/signup" method="post" name="login-form">
					<div class="input-field"><label for="email">Email address</label>
						<div class="input-box">
							<input type="email" name="email" id="email">
						</div>
					</div><!-- end input field -->

					<div class="input-field"><label for="username">Display Name</label>
						<div class="input-box">
							<input type="text" name="username" id="username">
						</div>
					</div><!-- end input field -->

					<div class="input-field"><label for="password">Password</label>
						<div class="input-box">
							<input type="password" name="password" id="password">
						</div>
					</div><!-- end input field -->

					<div class="input-field"><label for="confirm-password">Confirm Password</label>
						<div class="input-box">
							<input type="password" name="confirm-password" id="confirm-password">
						</div>
					</div><!-- end input field -->


					<div class="input-field">
						<div class="checkbox-agree">
							<input type="checkbox" name="agree" id="agree">
								<span>I agree to the</span> 
								<span><a href="javascript:void()" class = "span-red">terms of use</a></span>
						</div>
					</div><!-- end input field -->

					<div class="login-button">
						<div class="login">
							<div class="submit-btn">
								<button type = "submit" id = "login-submit"class = "btn-primary">Sign up</button>
							</div>
							<div class = "forgot-pwd">
							<label for="forgot-password">
								Registered?<a href="javascript:void()">&nbsp;Login</a></label>
							</div>
						</div>
					</div>
				</form><!-- end form -->

				<div class="social-btns signup-margin">
					<a href="javascript:" class="btn-blue left">
						<div class = "fb-main">
							<div class="fb-icon"></div>
							<div class ="fb-text">Sign in with Facebook</div>
						</div>
					</a>
					
					<a href="javascript:" class = "btn-white right">					
						<div class="gplus-main">
							<div class="gplus-icon"></div>
							<div class ="gplus-text">Sign in with Google</div>
						</div>
					</a>
				</div>
			</div><!-- end login-form -->
		</div> <!-- end login-popup -->

		<!-- end of sigup popup -->



		<div class = "footer-main">
			<div class="footer">
				<div class="footer-top">
					<div class="left-one">
						<h3>About</h3>
						<ul>
							<li><a href="javascript:void()">Who we are</a></li>
							<li><a href="javascript:void()">Contact Us</a></li>
							<li><a href="javascript:void()">Blog</a></li>
						</ul>
					</div>
					<div class="left-two">
						<h3>Solutions</h3>
						<ul>
							<li><a href="javascript:void()">Plans and pricing</a></li>
							<li><a href="javascript:void()">Affiliates program</a></li>
						</ul>
					</div>
					<div class="right-one">
						<h3>Usage guidelines</h3>
						<ul>
							<li><a href="javascript:void()">Video maker tips</a></li>
							<li><a href="javascript:void()">Help Videos</a></li>
							<li><a href="javascript:void()">FAQs</a></li>
							<li><a href="javascript:void()">Forums</a></li>
						</ul>
						
					</div>
					<div class="right-two">
						<h3>Getting Help</h3>
						<ul>
							<li><a href="javascript:void()">Terms of use for everyone</a></li>
							<li><a href="javascript:void()">Additional terms for use</a></li>
							<li><a href="javascript:void()">Legal notices</a></li>
							<li><a href="javascript:void()">Privacy policy</a></li>
						</ul>
					</div>
				</div><!-- end footer top -->

				<div class="footer-bottom">
					<ul>
						<li><a href="javascript:void()" class = "fb"></a></li>
						<li><a href="javascript:void()" class = "twitter"></a></li>
						<li><a href="javascript:void()" class = "g-plus"></a></li>
						<li><a href="javascript:void()" class = "in"></a></li>
						<li><a href="javascript:void()" class = "you-tube"></a></li>
					</ul>					
					<a href="javascript:void()" class = "norton"></a>
				</div><!-- end footer-bottom -->

				<div class="copy-right">
					Anivid &copy; 2013
				</div><!-- end copyright -->
				
			</div><!-- end footer -->
		</div> <!-- end footer main -->
	</div><!-- end wrapper -->

	<script type="text/javascript">

		$(".drop-down-menu").click(function(e){
				$(this).siblings().removeClass('open')
				e.stopPropagation();
				$(this).addClass('open');
		});
		
		$(document).click(function(){
				//$('.dropdown').hide();
				// $('.dropdown').css('display','none');
				 $('.drop-down-menu').removeClass('open');			
		});

 </script>

</body>
</html>