<h1>Login</h1>
<form action="/auth/login" method="post">
  <div><input type="text" name="username" placeholder="username"></div>
  <div><input type="password" name="password" placeholder="password"></div>
  <div><input type="submit"></div>
</form>
<br>
 Login 
 <a href="/auth/facebook/" class="btn">with Facebook</a>
 <a href="/auth/google/" class="btn">with Google+</a>
<br>
 <a href="/auth/signup">SignUp</a>
