<!doctype html>
<html lang="en">
<head>

	<meta charset="UTF-8">

	<meta name="description" content="Creating Animation and Video.">

	<meta name="viewport" content="width=device-width">

	<title>ANIVID - Your Videos </title>

	<link rel="stylesheet" href="css/styles.css">

	<link rel='stylesheet' href='css/popbox.css' type='text/css' media='screen' charset='utf-8'>

	<script src="js/jquery.min.js" type="text/javascript"></script>
	<script src="js/popbox.js" type="text/javascript"></script>
</head>

<body>
	
	<div id = "wrapper">
		
		<div class = "container">
			
			<div class = "header">
				
				<div class = "header-left">
				
					<a href="#" title = "Logo"></a>&nbsp;&nbsp;<h1>ANIVID</h1>
				
				</div><!-- end header -->
				
				<div class = "header-right">
					
					<div class = "before-login">
						<ul>
							<li><a href="#">Sign up</a></li>
							
							<li><a href="#">Login</a></li>
							
							<li class ="drop-down-menu"><a  href="#">Plans and Pricing <img src="img/dropdown.png" alt="Arrow"></a>
								
								<ul class = "dropdown">
										<li><a href="javascript:void(0)">For Commercial use</a></li>
										<li><a href="javascript:void(0)">For Personal use </a></li>
								</ul>	

							</li>
						
							<a href="#" class ="btn-primary">START TRY</a>
						
						</ul>						

					</div>	
					<!-- end before-login-->		

					
					<!-- <div class = "after-login">
							<ul >
								<li class = "drop-down-menu">
									<a href = "#" >Your Account 
										<img src="img/dropdown.png" alt="Drop Down Arrow">
									</a>
									<ul class = "dropdown">
										<li><a href=""></a>Your videos</li>
										<li>Account Settings</li>
										<li>Log out</li>
									</ul>
								</li>
								<li class = "drop-down-menu">
									<a href = "#">Plans and Pricing 
									<img src="img/dropdown.png" alt="Drop Down Arrow"></a>
									
									<ul class = "dropdown">
										<li><a href="javascript:void(0)">For Commercial use</a></li>
										<li><a href="javascript:void(0)">For Personal use </a></li>
									</ul>	
								</li>
							</ul>
							
							<a href="#" class ="btn-primary">START TRY</a>
					</div>  -->
					<!-- end after - login -->

				</div>
				<!-- end header-right -->


				<!-- popupbox for login -->

				

			</div>
			<!-- end header -->
		</div>
		<!-- end container -->
		

		<!-- main content = middle content -->
		<div id="main-container">	
				
			<div class="container">

				<div class="login-popup signin-popup-display">

			<div class="close-button signin-popup-close"></div>

			<div class="form-heading">
				<h1>Login <span>ANIVID</span></h1>
			</div><!-- end heading -->

			<div class="login-form">
				<form action="javascript:void()" method="" name="login-form">
					<div class="input-field"><label for="email">Email address</label>
						<div class="input-box">
							<input type="email" name="username" id="username">
						</div>
					</div><!-- end input field -->

					<div class="input-field"><label for="password">Password</label>
						<div class="input-box">
							<input type="password" name="password" id="password">
						</div>
					</div><!-- end input field -->

					<div class="login-button">
						<div class="login">
							<div class="submit-btn">
								<button type = "submit" id = "login-submit"class = "btn-primary">Sign in</button>
							</div>
							<div class = "forgot-pwd">
							<label for="forgot-password">
								<a href="javascript:void()">Forgot Password?</a></label>
							</div>
						</div>
					</div>							
				</form><!-- end form -->
			</div><!-- end login-form -->

			<div class="social-btns login-margin">
				<a href="javascript:" class="btn-blue left">
					<div class = "fb-main">
						<div class="fb-icon"></div>
						<div class ="fb-text">Sign in with Facebook</div>
					</div>
				</a>
				
				<a href="javascript:" class = "btn-white right">					
					<div class="gplus-main">
						<div class="gplus-icon"></div>
						<div class ="gplus-text">Sign in with Google</div>
					</div>
				</a>
			</div>
		</div> <!-- end login-popup -->
			</div><!-- end of container -->
		</div><!-- end main-container -->

		<!-- footer start -->
		<div class = "footer-main">
			<div class="footer">
				<div class="footer-top">
					<div class="left-one">
						<h3>About</h3>
						<ul>
							<li><a href="#">Who we are</a></li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Blog</a></li>
						</ul>
					</div>
					<div class="left-two">
						<h3>Solutions</h3>
						<ul>
							<li><a href="#">Plans and pricing</a></li>
							<li><a href="#">Affiliates program</a></li>
						</ul>
					</div>
					<div class="right-one">
						<h3>Usage guidelines</h3>
						<ul>
							<li><a href="#">Video maker tips</a></li>
							<li><a href="#">Help Videos</a></li>
							<li><a href="#">FAQs</a></li>
							<li><a href="#">Forums</a></li>
						</ul>
						
					</div>
					<div class="right-two">
						<h3>Getting Help</h3>
						<ul>
							<li><a href="#">Terms of use for everyone</a></li>
							<li><a href="#">Additional terms for use</a></li>
							<li><a href="#">Legal notices</a></li>
							<li><a href="#">Privacy policy</a></li>
						</ul>
					</div>
				</div><!-- end footer top -->

				<div class="footer-bottom">
					<ul>
						<li><a href="#" class = "fb"></a></li>
						<li><a href="#" class = "twitter"></a></li>
						<li><a href="#" class = "g-plus"></a></li>
						<li><a href="#" class = "in"></a></li>
						<li><a href="#" class = "you-tube"></a></li>
					</ul>					
					<a href="#" class = "norton"></a>
				</div><!-- end footer-bottom -->

				<div class="copy-right">
					Anivid &copy; 2013
				</div><!-- end copyright -->
				
			</div>
		</div>
	</div><!-- end wrapper -->

	<script>

//	var class = document.getElementsByClassName(''); 
	/* display the menu on click*/
	// $(".drop-down-menu").click(function(e){
	// 	e.stopPropagation();
	// 	console.log($(this).find('.dropdown'));
	// 	$(this).find('.dropdown').css('display', 'block');
		
	// });

	// $(".drop-down-menu").click(function(e){
	// 	e.stopPropagation();
	// 	//$('.dropdown').toggle();
	// 	$('.dropdown').css('display','block');
		
	// });
	// $(".drop-down-menu").click(function(e){
	// 	e.stopPropagation();
	// 	//$('.dropdown').toggle();
	// 	$('.dropdown').css('display','block');
		
	// });


	// /* it hides the menu*/
	// $(document).click(function(){
	// 	//$('.dropdown').hide();
	// 	$('.dropdown').css('display','none');
		
	// });

	$(".drop-down-menu").click(function(e){
			$(this).siblings().removeClass('open')
			e.stopPropagation();
			$(this).addClass('open');
			
		});
	
	$(document).click(function(){
			//$('.dropdown').hide();
			// $('.dropdown').css('display','none');
			 $('.drop-down-menu').removeClass('open');
			
			
		});

	</script>


  <script type='text/javascript' charset='utf-8'>
    $(document).ready(function(){
      $('.popbox').popbox();
    });
  </script>

  <script>

	//   $(function(){
	//    	// signin-link-li -> a href li link
	//    $('.signin-link-li').click(function(e){
	//       e.stopPropagation();

	//       // .signin-link-popup --> div contains the form
	//       $('.signin-link-popup').fadeToggle(200);
	//       var width=window.innerWidth
	//       if(width<=768)
	//         $('.menu').hide();
	// });

	//   $(document).click(function(e){
	//     var container = $(".signin-link-popup");    
	//     if (container.has(e.target).length == 0)
	//     {
	//      container.fadeOut('200');
	//     }
	//   });
	// });

	  // .pop-close-signin -- > close button put in it

	$(".pop-close-signin").click(function(){
	  $('.signin-link-popup').fadeOut(200);
	});
</script>

</body>
</html>