<h1>SignIn</h1>
<form action="/processSignup" method="post">
  <div><input type="text" name="username" placeholder="username"></div>
  <div><input type="text" name="email" placeholder="email"></div>
  <div><input type="password" name="password" placeholder="password"></div>
  <div><input type="submit"></div>
</form>
<a href="/login">LogIn</a>