/*------- Footer Styles -------*/

.footer-main{
	background:#1a1a1a;

	.footer{
		width:1025px;
		margin:0 auto;

		.footer-top{
			display:inline-block;
			overflow:hidden;
			margin:20px;
			text-align:left;
			h3{
				padding:0px 0px 10px 0px;
				// font-family:'barial_bold';
				font-size:24px;
				color:$footer-heading-color;
				font-weight:bold;
			}
			.left-one{
				float : left;
				width:225px;				
			}

			.left-two{
				float : left;
				width:225px;
			}

			.right-one{
				float:right;
				width:225px;
			}

			.right-two{
				float:right;
				width:225px;
			}

			ul{
				li{
					a{
						line-height:30px;		
						color:$footer-text-color;				
						&:hover{
							color:$footer-text-color-hover;
						}
					}
				}
			}
		}

		.footer-bottom{
			overflow:hidden;
			ul{
				// border:1px solid #fff;
				float:left;
				margin-left:60px;
				margin-top:15px;
				li{
					display:inline;
					padding:0 2px;
					a.fb{
						background:url('../img/sprites.png');
						background-position:  0 -700px;
						width:45px;
						height:45px;
						display : inline-block;
					}
					a.twitter{
						background:url('../img/sprites.png');
						background-position: -100px -700px;
						width:45px;
						height:45px;
						display : inline-block;
					}
					a.g-plus{
						background:url('../img/sprites.png');
						background-position: -200px -700px;
						width:45px;
						height:45px;
						display : inline-block;
					}
					a.in{
						background:url('../img/sprites.png');
						background-position: -300px -700px;
						width:45px;
						height:45px;
						display : inline-block;
					}
					a.you-tube{
						background:url('../img/sprites.png');
						background-position: -400px -700px;
						width:45px;
						height:45px;
						display : inline-block;
					}
				}
			}
			.norton{
				display: inline-block;
				float:right;
				width:170px;
				height:70px;
				margin-right:150px;
				background:url('../img/sprites.png');
				background-position: -400px -300px;
			}
		}

		.copy-right{
			font-family:bariol_light;
			font-size: 18px;
			color: #a0a0a0;
			padding: 20px;
		}

	}/*------- end .footer -------*/

}/*------- end footer tag -------*/
