@mixin rounded($value){
	border-radius:$value;
}

@mixin btn($start-color, $end-color){
	background-image: -webkit-linear-gradient(top, $start-color, $end-color);
	background-image: -moz-linear-gradient(top, $start-color, $end-color);
	background-image: -o-linear-gradient(top, $start-color, $end-color);
	background-image: linear-gradient(to top, $start-color, $end-color);
	height: 35px;
	line-height: 35px;
	font-weight: bold;
	color: white;
	
	&:hover{
		color: white;
		background-image: -webkit-gradient(linear, left top, left bottom, from($start-color), to($end-color));
		background-image: -webkit-linear-gradient(top, $start-color, $end-color);
		background-image: -moz-linear-gradient(top, $start-color, $end-color);
		background-image: -o-linear-gradient(top, $start-color, $end-color);
		background-image: linear-gradient(to bottom, $start-color, $end-color);
		background-color: $end-color;
	}
}

@mixin social-button($color){
	height: 35px;
	width:100px;
	line-height: 35px;
	font-weight: bold;
	color: white;
	background:$color;	
}


@mixin lineTexture{
	background-image:url("../img/texture-line.png");
	background-repeat:repeat-x repeat-y;
}

@mixin divSize($height, $width){
	height:$height;
	width:$width;
}

@mixin url-image{
	background-image:url('../img/sprites.png');
}

@mixin heading-title{
		margin:30px;
		vertical-align:middle;
		display:inline-block;
		color:$heading-color;
		font-size:30px;
		font-family:bariol_bold;
		text-shadow:2px 0px 2px #ffffff;
}


@mixin sub-heading{

		font-size:18px;
		color:#3d4258;
		font-weight:bold;
		text-align : left;
}

@mixin thumblin-text-h2{

		font-size:18px;
		color:#3d4258;
		font-weight:bold;
		text-align : left;
}

@mixin thumblin-text-p{
		color:#3d4258;
		padding-left:30px;
		padding-top:10px;
		line-height:20px;
		text-align:left;
		word-spacing:5px;
}

@mixin table-box-shadow{
	box-shadow: 5px 0px 20px 10px rgba(0,0,0,0.1); 
}

@mixin box-shadow{
	-webkit-box-shadow:	0 0 0 10px rgba(0,0,0, 0.2);
	-moz-box-shadow:	0 0 0 10px rgba(0,0,0, 0.2);
	-o-box-shadow:	0 0 0 10px rgba(0,0,0, 0.2);
	box-shadow:	0 0 0 10px rgba(0,0,0, 0.2);
}