<!doctype html>
<html lang="en">
<head>

	<meta charset="UTF-8">

	<meta name="description" content="Creating Animation and Video.">

	<meta name="viewport" content="width=device-width">

	<title>ANIVID - Your Videos </title>

	<link rel="stylesheet" href="css/styles.css">

	<script src="js/jquery.min.js" type="text/javascript"></script>
</head>

<body>
	
	<div id = "wrapper">
		
		<div class = "container">
			
			<div class = "header">
				
				<div class = "header-left">
				
					<a href="index.html" title = "Logo"></a>&nbsp;&nbsp;<h1>ANIVID</h1>
				
				</div><!-- end header -->
				
				<div class = "header-right">
					
					<!-- <div class = "before-login">
						<ul>
							<li><a href="#">Sign up</a></li>
							
							<li><a href="#">Login</a></li>
							
							<li class ="drop-down-menu"><a  href="#">Plans and Pricing <img src="img/dropdown.png" alt="Arrow"></a>
								
								<ul class = "dropdown">
										<li><a href="javascript:void(0)">For Commercial use</a></li>
										<li><a href="javascript:void(0)">For Personal use </a></li>
								</ul>	

							</li>
						
							<a href="#" class ="btn-primary">START TRY</a>
						
						</ul>						

					</div>	 -->
					<!-- end before-login-->		

					
					<div class = "after-login">
							<ul >
								<li class = "drop-down-menu">
									<a href = "javascrip:void(0)" >Your Account 
										<img src="img/dropdown.png" alt="Drop Down Arrow">
									</a>
									<ul class = "dropdown">
										<li><a href="your-videos.html">Your videos</a></li>
										<li><a href="account-settings.html">Account Settings</a></li>
										<li><a href="javascript:void(0)">Log out</a></li>
									</ul>
								</li>
								<li class = "drop-down-menu">
									<a href = "#">Plans and Pricing 
									<img src="img/dropdown.png" alt="Drop Down Arrow"></a>
									
									<ul class = "dropdown">
										<li><a href="commercial-use-plans.html">For Commercial use</a></li>
										<li><a href="personal-use-plans.html">For Personal use </a></li>
									</ul>	
								</li>
							</ul>
							
							<a href="#" class ="btn-primary">START TRY</a>
					</div> 
					<!-- end after - login -->

				</div>
				<!-- end header-right -->

			</div>
			<!-- end header -->
		</div>
		<!-- end container -->
		

		<!-- main content = middle content -->
		<div id="main-container">	
				
			<div class="container">

				<div class="grid">
				<div class="grid-heading">
					<h1>Your Videos</h1>
				</div>

				<div class = "grid-data">

					<div class="grid-header">
						<div class = "grid-header-cell video-title">Video title</div>
						<div class = "grid-header-cell">Last modified</div>
						<div class = "grid-header-cell">Share</div>
						<div class = "grid-header-cell">Delete</div>
					</div>

					<div class="grid-body">

						<div class="grid-body-cell grid-video">
							<img src="img/sample-video1.png" alt="" width="140px" height="90px"> 
							<div class="grid-play-button"></div>
						</div>

						<div class="grid-body-cell"> 
							<span>Untitled</span>
						</div>
						
						<div class="grid-body-cell">
							<span>11.01.2013 04.15pm </span>
						</div>
						
						<div class="grid-body-cell popover"> 
							<img src="img/share.png" alt="">
						</div>
						<div class="grid-body-cell"> 
							<img src="img/trash.png" alt="" class ="delete">
						</div>					
					</div> <!-- end grid-body -->	

					<div class="grid-body">

						<div class="grid-body-cell grid-video"> 
							<img src="img/sample-video1.png" alt="" width="140px" height="90px">
							<div class="grid-play-button"></div> 
						</div>

						<div class="grid-body-cell"> 
							<span>Untitled 1</span>
						</div>
						
						<div class="grid-body-cell">
							<span>21.06.2013 06.15pm </span>
						</div>
						
						<div class="grid-body-cell popover"> 
							<img src="img/share.png" alt="">
						</div>
						<div class="grid-body-cell"> 
							<img src="img/trash.png" alt="" class ="delete">
						</div>					
					</div> <!-- end grid-body -->	

					<div class="grid-body">

						<div class="grid-body-cell grid-video"> 
							<img src="img/sample-video1.png" alt="" width="140px" height="90px">
							<div class="grid-play-button"></div> 
						</div>

						<div class="grid-body-cell"> 
							<span>Untitled 2</span>
						</div>
						
						<div class="grid-body-cell">
							<span>11.01.2014 9.15am </span>
						</div>
						
						<div class="grid-body-cell popover"> 
							<img src="img/share.png" alt="">
						</div>
						<div class="grid-body-cell "> 
							<img src="img/trash.png" alt="" class ="delete">
						</div>					
					</div> <!-- end grid-body -->	


				</div><!-- end grid-data -->

				<div class="share">
					<div class = "share-pop-up">
						<a href="javascript:void(0)">
							<img src="img/fb-tool-tip.png">
						</a>&nbsp;&nbsp;
						<a href="javascript:void(0)">
							<img src="img/twitter-tool-tip.png">
						</a>
					</div> <!-- end of share-pop-up -->
				</div><!-- end of share -->


				<div class = "go-top"> <a href="#top"> - Go to Top - </a></div>
			</div><!-- end grid -->
			</div><!-- end of container -->
		</div><!-- end main-container -->

	
		<!-- footer start -->
		<div class="footer-main">
			<div class="footer">
				<div class="footer-top">
					<div class="left-one">
						<h3>About</h3>
						<ul>
							<li><a href="#">Who we are</a></li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Blog</a></li>
						</ul>
					</div>
					<div class="left-two">
						<h3>Solutions</h3>
						<ul>
							<li><a href="#">Plans and pricing</a></li>
							<li><a href="#">Affiliates program</a></li>
						</ul>
					</div>
					<div class="right-one">
						<h3>Usage guidelines</h3>
						<ul>
							<li><a href="#">Video maker tips</a></li>
							<li><a href="#">Help Videos</a></li>
							<li><a href="#">FAQs</a></li>
							<li><a href="#">Forums</a></li>
						</ul>
						
					</div>
					<div class="right-two">
						<h3>Getting Help</h3>
						<ul>
							<li><a href="#">Terms of use for everyone</a></li>
							<li><a href="#">Additional terms for use</a></li>
							<li><a href="#">Legal notices</a></li>
							<li><a href="#">Privacy policy</a></li>
						</ul>
					</div>
				</div><!-- end footer top -->

				<div class="footer-bottom">
					<ul>
						<li><a href="#" class = "fb"></a></li>
						<li><a href="#" class = "twitter"></a></li>
						<li><a href="#" class = "g-plus"></a></li>
						<li><a href="#" class = "in"></a></li>
						<li><a href="#" class = "you-tube"></a></li>
					</ul>					
					<a href="#" class = "norton"></a>
				</div><!-- end footer-bottom -->

				<div class="copy-right">
					Anivid &copy; 2013
				</div><!-- end copyright -->
				
			</div>
		</div>


<!--
<div>
	-moz-transform: scale(0.8) rotate(0deg) translate(0px, 0px) skew(30deg, 0deg);
	-webkit-transform: scale(0.8) rotate(0deg) translate(0px, 0px) skew(30deg, 0deg);
	-o-transform: scale(0.8) rotate(0deg) translate(0px, 0px) skew(30deg, 0deg);
	-ms-transform: scale(0.8) rotate(0deg) translate(0px, 0px) skew(30deg, 0deg);
transform: scale(0.8) rotate(0deg) translate(0px, 0px) skew(30deg, 0deg);
</div>
-->	</div><!-- end wrapper -->

	<script>

	$(".drop-down-menu").click(function(e){
		$(this).siblings().removeClass('open')
		e.stopPropagation();
		$(this).addClass('open');
	});
	
	$(document).click(function(){
		$('.drop-down-menu').removeClass('open');
		$('.share').css('display','none');
	});


	/*popover*/
	$('.popover').click(function(e){
		e.stopPropagation();
		$('.share').css('top',e.pageY-80);
		
		$('.share').css('display','block');
	});
	</script>

</body>
</html>