/* line 13, ../sass/_base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 24, ../sass/_base.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../sass/_base.scss */
body {
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: 'bariol_regular';
}

/* line 34, ../sass/_base.scss */
ol, ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 40, ../sass/_base.scss */
blockquote, q {
  quotes: none;
}

/* line 45, ../sass/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 50, ../sass/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 55, ../sass/_base.scss */
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

/* line 62, ../sass/_base.scss */
#wrapper {
  width: 100%;
}

/* line 66, ../sass/_base.scss */
.container {
  width: 1025px;
  margin: 0 auto;
}

@font-face {
  font-family: 'bariol_bold';
  src: url("../fonts/bariol_bold-webfont.eot");
  src: url("../fonts/bariol_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bariol_bold-webfont.woff") format("woff"), url("../fonts/bariol_bold-webfont.ttf") format("truetype"), url("../fonts/bariol_bold-webfont.svg#bariol_boldbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'bariol_light';
  src: url("../fonts/bariol_light-webfont.eot");
  src: url("../fonts/bariol_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bariol_light-webfont.woff") format("woff"), url("../fonts/bariol_light-webfont.ttf") format("truetype"), url("../fonts/bariol_light-webfont.svg#bariol_lightlight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bariol_regular';
  src: url("../fonts/bariol_regular-webfont.eot");
  src: url("../fonts/bariol_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bariol_regular-webfont.woff") format("woff"), url("../fonts/bariol_regular-webfont.ttf") format("truetype"), url("../fonts/bariol_regular-webfont.svg#bariol_regularregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*------- general colors -------*/
/*------- Header Sass Styles -------*/
/* line 3, ../sass/_header.scss */
.header {
  height: 100px;
}
/* line 7, ../sass/_header.scss */
.header .header-left {
  float: left;
  margin-top: 36px;
}
/* line 11, ../sass/_header.scss */
.header .header-left a {
  background: url(../img/sprites.png);
  background-position: 0 0;
  height: 30px;
  width: 65px;
  display: inline-block;
  vertical-align: middle;
}
/* line 20, ../sass/_header.scss */
.header .header-left h1 {
  display: inline-block;
  vertical-align: middle;
  color: #f25f5e;
  font-size: 30px;
  font-family: bariol_bold;
}
/* line 29, ../sass/_header.scss */
.header .header-right {
  float: right;
  margin-top: 36px;
}
/* line 33, ../sass/_header.scss */
.header .header-right .before-login, .header .header-right .after-login {
  font-size: 18px;
}
/* line 35, ../sass/_header.scss */
.header .header-right .before-login ul, .header .header-right .after-login ul {
  float: left;
}
/* line 38, ../sass/_header.scss */
.header .header-right .before-login ul li, .header .header-right .after-login ul li {
  position: relative;
  padding: 0px 15px;
  display: inline-block;
}
/* line 43, ../sass/_header.scss */
.header .header-right .before-login ul li a, .header .header-right .after-login ul li a {
  vertical-align: middle;
  color: #3d4258;
  display: block;
}
/* line 48, ../sass/_header.scss */
.header .header-right .before-login ul li a:hover, .header .header-right .after-login ul li a:hover {
  color: #f25f5e;
}

/* line 59, ../sass/_header.scss */
.dropdown {
  margin-top: 10px;
  position: absolute;
  width: 200px;
  display: none;
}
/* line 64, ../sass/_header.scss */
.dropdown li {
  display: block !important;
  z-index: 999;
  width: 145px;
  background: white;
  border: 1px solid #ccc;
  border-bottom: none;
  text-align: left;
}
/* line 73, ../sass/_header.scss */
.dropdown li a {
  line-height: 30px !important;
}
/* line 76, ../sass/_header.scss */
.dropdown li:hover {
  color: #5f6375 !important;
}

/*------- to open dropdown menu  -------*/
/* line 85, ../sass/_header.scss */
.open ul {
  display: block;
}

/* line 3, ../sass/_your_video.scss */
.grid .grid-heading {
  border: 1px solid #fff;
}
/* line 5, ../sass/_your_video.scss */
.grid .grid-heading h1 {
  color: #1f1f1f;
  font-size: 26px;
  font-weight: bold;
  margin-left: 20px;
  text-align: left;
}
/* line 13, ../sass/_your_video.scss */
.grid .grid-data {
  overflow: hidden;
}
/* line 15, ../sass/_your_video.scss */
.grid .grid-data .grid-header {
  margin: 0 auto;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
/* line 22, ../sass/_your_video.scss */
.grid .grid-data .grid-header .grid-header-cell {
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  padding: 20px 0;
  font-weight: bold;
}
/* line 32, ../sass/_your_video.scss */
.grid .grid-data .grid-header .video-title {
  margin-left: 200px;
}
/* line 36, ../sass/_your_video.scss */
.grid .grid-data .grid-body {
  margin: 0 auto;
  width: 100%;
}
/* line 39, ../sass/_your_video.scss */
.grid .grid-data .grid-body .grid-body-cell {
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 0 15px 0;
}
/* line 47, ../sass/_your_video.scss */
.grid .grid-data .grid-body .popover:hover {
  cursor: pointer;
}
/* line 53, ../sass/_your_video.scss */
.grid .grid-data .grid-body .delete:hover {
  cursor: pointer;
}
/* line 58, ../sass/_your_video.scss */
.grid .grid-data .grid-body .grid-video {
  position: relative;
}
/* line 62, ../sass/_your_video.scss */
.grid .grid-data .grid-body .grid-play-button {
  position: absolute;
  height: 45px;
  width: 45px;
  left: 40%;
  top: 30%;
  background: url("../img/tiny-play-button.png") transparent center no-repeat;
}
/* line 69, ../sass/_your_video.scss */
.grid .grid-data .grid-body .grid-play-button:hover {
  background: url("../img/tiny-play-button-hover.png") transparent center no-repeat;
}

/* line 78, ../sass/_your_video.scss */
.share {
  display: none;
  position: absolute;
  left: 61%;
  top: 0;
}
/* line 85, ../sass/_your_video.scss */
.share:hover {
  cursor: pointer;
}
/* line 89, ../sass/_your_video.scss */
.share .share-pop-up {
  width: 100px;
  height: auto;
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.23);
}
/* line 97, ../sass/_your_video.scss */
.share .share-pop-up img {
  padding-top: 3px;
}
/* line 101, ../sass/_your_video.scss */
.share .share-pop-up:after, .share .share-pop-up:before {
  top: 101%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 112, ../sass/_your_video.scss */
.share .share-pop-up:after {
  border-color: rgba(255, 255, 255, 0.23);
  border-top-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}
/* line 119, ../sass/_your_video.scss */
.share .share-pop-up:before {
  border-color: rgba(255, 135, 219, 0);
  border-top-color: rgba(0, 0, 0, 0.23);
  border-width: 12px;
  margin-left: -12px;
}

/* your video page css*/
/*------- Footer Styles -------*/
/* line 3, ../sass/_footer.scss */
.footer-main {
  background: #1a1a1a;
  /*------- end .footer -------*/
}
/* line 6, ../sass/_footer.scss */
.footer-main .footer {
  width: 1025px;
  margin: 0 auto;
}
/* line 10, ../sass/_footer.scss */
.footer-main .footer .footer-top {
  display: inline-block;
  overflow: hidden;
  margin: 20px;
  text-align: left;
}
/* line 15, ../sass/_footer.scss */
.footer-main .footer .footer-top h3 {
  padding: 0px 0px 10px 0px;
  font-size: 24px;
  color: #717171;
  font-weight: bold;
}
/* line 22, ../sass/_footer.scss */
.footer-main .footer .footer-top .left-one {
  float: left;
  width: 225px;
}
/* line 27, ../sass/_footer.scss */
.footer-main .footer .footer-top .left-two {
  float: left;
  width: 225px;
}
/* line 32, ../sass/_footer.scss */
.footer-main .footer .footer-top .right-one {
  float: right;
  width: 225px;
}
/* line 37, ../sass/_footer.scss */
.footer-main .footer .footer-top .right-two {
  float: right;
  width: 225px;
}
/* line 44, ../sass/_footer.scss */
.footer-main .footer .footer-top ul li a {
  line-height: 30px;
  color: #c3c3c3;
}
/* line 47, ../sass/_footer.scss */
.footer-main .footer .footer-top ul li a:hover {
  color: #717171;
}
/* line 55, ../sass/_footer.scss */
.footer-main .footer .footer-bottom {
  overflow: hidden;
}
/* line 57, ../sass/_footer.scss */
.footer-main .footer .footer-bottom ul {
  float: left;
  margin-left: 60px;
  margin-top: 15px;
}
/* line 62, ../sass/_footer.scss */
.footer-main .footer .footer-bottom ul li {
  display: inline;
  padding: 0 2px;
}
/* line 65, ../sass/_footer.scss */
.footer-main .footer .footer-bottom ul li a.fb {
  background: url("../img/sprites.png");
  background-position: 0 -700px;
  width: 45px;
  height: 45px;
  display: inline-block;
}
/* line 72, ../sass/_footer.scss */
.footer-main .footer .footer-bottom ul li a.twitter {
  background: url("../img/sprites.png");
  background-position: -100px -700px;
  width: 45px;
  height: 45px;
  display: inline-block;
}
/* line 79, ../sass/_footer.scss */
.footer-main .footer .footer-bottom ul li a.g-plus {
  background: url("../img/sprites.png");
  background-position: -200px -700px;
  width: 45px;
  height: 45px;
  display: inline-block;
}
/* line 86, ../sass/_footer.scss */
.footer-main .footer .footer-bottom ul li a.in {
  background: url("../img/sprites.png");
  background-position: -300px -700px;
  width: 45px;
  height: 45px;
  display: inline-block;
}
/* line 93, ../sass/_footer.scss */
.footer-main .footer .footer-bottom ul li a.you-tube {
  background: url("../img/sprites.png");
  background-position: -400px -700px;
  width: 45px;
  height: 45px;
  display: inline-block;
}
/* line 102, ../sass/_footer.scss */
.footer-main .footer .footer-bottom .norton {
  display: inline-block;
  float: right;
  width: 170px;
  height: 70px;
  margin-right: 150px;
  background: url("../img/sprites.png");
  background-position: -400px -300px;
}
/* line 113, ../sass/_footer.scss */
.footer-main .footer .copy-right {
  font-family: bariol_light;
  font-size: 18px;
  color: #a0a0a0;
  padding: 20px;
}

/*------- end footer tag -------*/
/*------- popup styles -------*/
/* line 4, ../sass/_popup.scss */
.login-popup {
  overflow: hidden;
  position: absolute;
  z-index: 999999;
  margin: 0 auto;
  display: none;
  background: white;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 35%;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
}
/* line 20, ../sass/_popup.scss */
.login-popup .close-button {
  float: right;
  margin: 10px 10px 0px 0px;
  background: url("../img/close-button.png") center transparent no-repeat;
  height: 20px;
  width: 20px;
}
/* line 26, ../sass/_popup.scss */
.login-popup .close-button:hover {
  cursor: pointer;
}
/* line 31, ../sass/_popup.scss */
.login-popup .form-heading {
  margin: 30px 0px 15px 0px;
}
/* line 33, ../sass/_popup.scss */
.login-popup .form-heading h1 {
  color: #000;
  font-weight: bold;
  font-size: 24px;
}
/* line 37, ../sass/_popup.scss */
.login-popup .form-heading h1 span {
  color: #f25f5e;
  padding: 0px 5px;
}
/* line 44, ../sass/_popup.scss */
.login-popup .login-form {
  text-align: left;
  margin: 0 20px 0 20px;
}
/* line 48, ../sass/_popup.scss */
.login-popup .login-form .input-field {
  font-size: 20px;
  color: #3d4258;
  padding: 10px 0 20px 0;
}
/* line 57, ../sass/_popup.scss */
.login-popup .login-form .input-field .input-box {
  border: 1px solid #ccc;
  background: #f9f9f9;
  border-radius: 4px;
}
/* line 62, ../sass/_popup.scss */
.login-popup .login-form .input-field .input-box input {
  width: 95%;
  margin: 0 auto;
  padding: 5px 10px;
  line-height: 25px;
  border: none;
  outline: none;
  font-size: 25px;
  color: #3d4258;
  background: #f9f9f9;
  border-radius: 4px;
}
/* line 77, ../sass/_popup.scss */
.login-popup .login-form .login-button {
  overflow: hidden;
}
/* line 81, ../sass/_popup.scss */
.login-popup .login-form .login-button .login {
  float: right;
}
/* line 84, ../sass/_popup.scss */
.login-popup .login-form .login-button .login .submit-btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  font-style: bariol_regular;
  margin-right: 15px;
}
/* line 90, ../sass/_popup.scss */
.login-popup .login-form .login-button .login .submit-btn button {
  border: none;
  outline: none;
}
/* line 96, ../sass/_popup.scss */
.login-popup .login-form .login-button .login .forgot-pwd {
  display: inline-block;
  vertical-align: middle;
}
/* line 99, ../sass/_popup.scss */
.login-popup .login-form .login-button .login .forgot-pwd a {
  color: #f25f5e;
  font-size: 18px;
  margin-right: 20px;
}

/* line 110, ../sass/_popup.scss */
.span-red {
  color: #f25f5e;
}

/* line 117, ../sass/_popup.scss */
.social-login-buttons .social-button-fb {
  background: url("../img/fb-button.png") no-repeat;
  outline: none;
  border: none;
  height: 20px;
}

/*------- popup css -------*/
/* Buttons that are used in general */
/* line 19, ../sass/styles.scss */
.btn-primary {
  display: inline-block;
  padding: 0 20px;
  background-color: #f25b5a;
  color: white;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #f25b5a, #f28281);
  background-image: -moz-linear-gradient(top, #f25b5a, #f28281);
  background-image: -o-linear-gradient(top, #f25b5a, #f28281);
  background-image: linear-gradient(to top, #f25b5a, #f28281);
  height: 35px;
  line-height: 35px;
  font-weight: bold;
  color: white;
}
/* line 15, ../sass/_mixins1.scss */
.btn-primary:hover {
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f25b5a), to(#f28281));
  background-image: -webkit-linear-gradient(top, #f25b5a, #f28281);
  background-image: -moz-linear-gradient(top, #f25b5a, #f28281);
  background-image: -o-linear-gradient(top, #f25b5a, #f28281);
  background-image: linear-gradient(to bottom, #f25b5a, #f28281);
  background-color: #f28281;
}

/* line 28, ../sass/styles.scss */
.btn-secondary {
  display: inline-block;
  padding: 0 15px;
  background-color: #75201f;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #75201f, #a45a59);
  background-image: -moz-linear-gradient(top, #75201f, #a45a59);
  background-image: -o-linear-gradient(top, #75201f, #a45a59);
  background-image: linear-gradient(to top, #75201f, #a45a59);
  height: 35px;
  line-height: 35px;
  font-weight: bold;
  color: white;
}
/* line 15, ../sass/_mixins1.scss */
.btn-secondary:hover {
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#75201f), to(#a45a59));
  background-image: -webkit-linear-gradient(top, #75201f, #a45a59);
  background-image: -moz-linear-gradient(top, #75201f, #a45a59);
  background-image: -o-linear-gradient(top, #75201f, #a45a59);
  background-image: linear-gradient(to bottom, #75201f, #a45a59);
  background-color: #a45a59;
}

/* line 37, ../sass/styles.scss */
.btn-blue {
  padding: 5px 10px;
  background-color: #4479BA;
  border: solid 2px #203b71;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 47, ../sass/styles.scss */
.btn-blue:hover {
  background-color: #356094;
  text-decoration: none;
}
/* line 52, ../sass/styles.scss */
.btn-blue:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #2E5481;
  border: solid 1px #203E5F;
}

/* line 61, ../sass/styles.scss */
.btn-white {
  padding: 5px 10px;
  background-color: #fbfbfb;
  border: solid 2px #cecece;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 71, ../sass/styles.scss */
.btn-white:hover {
  background-color: #eeeded;
  text-decoration: none;
}
/* line 76, ../sass/styles.scss */
.btn-white:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #fbfbfb;
  border: solid 1px #cecece;
}

/*------- banner BG -------*/
/* line 87, ../sass/styles.scss */
.banner-bg {
  background: url("../img/banner.png");
  height: 440px;
}
/* line 90, ../sass/styles.scss */
.banner-bg .banner {
  position: relative;
}
/* line 92, ../sass/styles.scss */
.banner-bg .banner h1 {
  margin: 20px 0 0 0;
  vertical-align: middle;
  display: inline-block;
  color: white;
  font-size: 30px;
}
/* line 101, ../sass/styles.scss */
.banner-bg .banner h2 {
  font-size: 24px;
  margin: 10px 0 0 0;
  color: white;
  font-style: normal;
}
/* line 108, ../sass/styles.scss */
.banner-bg .banner .banner-play-button {
  position: absolute;
  background: url("../img/banner-play-button.png");
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  left: 45%;
  top: 210%;
}
/* line 116, ../sass/styles.scss */
.banner-bg .banner .banner-play-button:hover {
  position: absolute;
  background: url("../img/banner-play-button-hover.png");
  background-repeat: no-repeat;
}
/* line 122, ../sass/styles.scss */
.banner-bg .banner .char1 {
  position: absolute;
  background: url("../img/character1.png");
  background-repeat: no-repeat;
  height: 210px;
  width: 100px;
  left: 9%;
  top: 145%;
}
/* line 131, ../sass/styles.scss */
.banner-bg .banner .char2 {
  position: absolute;
  background: url("../img/character2.png");
  background-repeat: no-repeat;
  height: 260px;
  width: 150px;
  left: 25%;
  top: 165%;
}
/* line 139, ../sass/styles.scss */
.banner-bg .banner .char3 {
  position: absolute;
  background: url("../img/character3.png");
  background-repeat: no-repeat;
  height: 260px;
  width: 150px;
  left: 55%;
  top: 165%;
}
/* line 148, ../sass/styles.scss */
.banner-bg .banner .char4 {
  position: absolute;
  background: url("../img/character4.png");
  background-repeat: no-repeat;
  height: 210px;
  width: 100px;
  left: 78%;
  top: 145%;
}
/* line 157, ../sass/styles.scss */
.banner-bg .banner .btn {
  position: absolute;
  width: 150px;
  left: 42.5%;
  top: 370%;
}
/* line 162, ../sass/styles.scss */
.banner-bg .banner .btn a {
  padding: 7px 30px;
}

/*-------------diagonal texture -------*/
/* line 173, ../sass/styles.scss */
.diagonal-texture {
  background-image: url("../img/texture-line.png");
  background-repeat: repeat-x repeat-y;
}
/* line 176, ../sass/styles.scss */
.diagonal-texture h1 {
  margin: 30px;
  vertical-align: middle;
  display: inline-block;
  color: #f25f5e;
  font-size: 30px;
  font-family: bariol_bold;
  text-shadow: 2px 0px 2px #ffffff;
}
/* line 181, ../sass/styles.scss */
.diagonal-texture .great-videos-info ul {
  overflow: hidden;
}
/* line 183, ../sass/styles.scss */
.diagonal-texture .great-videos-info ul li {
  float: left;
  /* divSize($height, $width)*/
  height: 250px;
  width: 280px;
  margin: 0 0 0 50px;
  padding-top: 30px;
}
/* line 189, ../sass/styles.scss */
.diagonal-texture .great-videos-info ul li .screen {
  background-image: url("../img/sprites.png");
  background-position: 0px -600px;
  margin: 0 auto;
  height: 65px;
  width: 80px;
}
/* line 195, ../sass/styles.scss */
.diagonal-texture .great-videos-info ul li .rocket {
  background-image: url("../img/sprites.png");
  background-position: -100px -600px;
  margin: 0 auto;
  height: 65px;
  width: 80px;
}
/* line 201, ../sass/styles.scss */
.diagonal-texture .great-videos-info ul li .picture {
  background-image: url("../img/sprites.png");
  background-position: -200px -600px;
  margin: 0 auto;
  height: 65px;
  width: 80px;
}
/* line 208, ../sass/styles.scss */
.diagonal-texture .great-videos-info ul li h2 {
  height: 50px;
  font-size: 18px;
  margin: 20px;
  color: #3d4258;
  font-weight: bold;
}

/*------- video-data -------*/
/* line 225, ../sass/styles.scss */
.video-data {
  height: 1000px;
  background-image: url("../img/texture-line.png");
  background-repeat: repeat-x repeat-y;
}
/* line 231, ../sass/styles.scss */
.video-data .animated-video h1 {
  margin: 30px;
  vertical-align: middle;
  display: inline-block;
  color: #f25f5e;
  font-size: 30px;
  font-family: bariol_bold;
  text-shadow: 2px 0px 2px #ffffff;
  padding-bottom: 60px;
}
/* line 236, ../sass/styles.scss */
.video-data .animated-video .mac {
  margin: 0 auto;
  position: relative;
  left: 7%;
}
/* line 241, ../sass/styles.scss */
.video-data .animated-video .mac .thumblin-diversity {
  height: 250px;
  width: 250px;
  position: absolute;
  left: -10%;
  top: 3%;
}
/* line 249, ../sass/styles.scss */
.video-data .animated-video .mac .thumblin-laws {
  height: 250px;
  width: 250px;
  position: absolute;
  left: 29%;
  top: -10%;
}
/* line 257, ../sass/styles.scss */
.video-data .animated-video .mac .thumblin-ideas {
  height: 250px;
  width: 250px;
  position: absolute;
  left: 61%;
  top: 2%;
}
/* line 265, ../sass/styles.scss */
.video-data .animated-video .mac .thumblin-explore {
  height: 250px;
  width: 250px;
  position: absolute;
  left: -10%;
  top: 68%;
}
/* line 273, ../sass/styles.scss */
.video-data .animated-video .mac .thumblin-thoughts {
  height: 250px;
  width: 250px;
  position: absolute;
  left: 30%;
  top: 90%;
}
/* line 281, ../sass/styles.scss */
.video-data .animated-video .mac .thumblin-strike {
  height: 250px;
  width: 250px;
  position: absolute;
  left: 61%;
  top: 75%;
}

/* line 295, ../sass/styles.scss */
.thumblin-diversity .thumblin-text h2 {
  font-size: 18px;
  color: #3d4258;
  font-weight: bold;
  text-align: left;
  padding: 10px 0 0 30px;
}
/* line 299, ../sass/styles.scss */
.thumblin-diversity .thumblin-text p {
  color: #3d4258;
  padding-left: 30px;
  padding-top: 10px;
  line-height: 20px;
  text-align: left;
  word-spacing: 5px;
}

/* line 312, ../sass/styles.scss */
.thumblin-laws .thumblin-text h2 {
  font-size: 18px;
  color: #3d4258;
  font-weight: bold;
  text-align: left;
  padding: 10px 0 0 30px;
}
/* line 316, ../sass/styles.scss */
.thumblin-laws .thumblin-text p {
  color: #3d4258;
  padding-left: 30px;
  padding-top: 10px;
  line-height: 20px;
  text-align: left;
  word-spacing: 5px;
}

/* line 329, ../sass/styles.scss */
.thumblin-ideas .thumblin-text h2 {
  font-size: 18px;
  color: #3d4258;
  font-weight: bold;
  text-align: left;
  padding: 10px 0 0 30px;
}
/* line 333, ../sass/styles.scss */
.thumblin-ideas .thumblin-text p {
  color: #3d4258;
  padding-left: 30px;
  padding-top: 10px;
  line-height: 20px;
  text-align: left;
  word-spacing: 5px;
}

/* line 346, ../sass/styles.scss */
.thumblin-explore .thumblin-text h2 {
  font-size: 18px;
  color: #3d4258;
  font-weight: bold;
  text-align: left;
  padding: 10px 0 0 30px;
}
/* line 350, ../sass/styles.scss */
.thumblin-explore .thumblin-text p {
  color: #3d4258;
  padding-left: 30px;
  padding-top: 10px;
  line-height: 20px;
  text-align: left;
  word-spacing: 5px;
}

/* line 363, ../sass/styles.scss */
.thumblin-thoughts .thumblin-text h2 {
  font-size: 18px;
  color: #3d4258;
  font-weight: bold;
  text-align: left;
  padding: 10px 0 0 30px;
}
/* line 367, ../sass/styles.scss */
.thumblin-thoughts .thumblin-text p {
  color: #3d4258;
  padding-left: 30px;
  padding-top: 10px;
  line-height: 20px;
  text-align: left;
  word-spacing: 5px;
}

/* line 380, ../sass/styles.scss */
.thumblin-strike .thumblin-text h2 {
  font-size: 18px;
  color: #3d4258;
  font-weight: bold;
  text-align: left;
  padding: 10px 0 0 30px;
}
/* line 384, ../sass/styles.scss */
.thumblin-strike .thumblin-text p {
  color: #3d4258;
  padding-left: 30px;
  padding-top: 10px;
  line-height: 20px;
  text-align: left;
  word-spacing: 5px;
}

/*------- sample video -------*/
/* line 400, ../sass/styles.scss */
.sample-video-data {
  background: #90dbd8;
}
/* line 403, ../sass/styles.scss */
.sample-video-data h1 {
  margin: 30px;
  vertical-align: middle;
  display: inline-block;
  color: #f25f5e;
  font-size: 30px;
  font-family: bariol_bold;
  text-shadow: 2px 0px 2px #ffffff;
}
/* line 407, ../sass/styles.scss */
.sample-video-data ul {
  overflow: hidden;
}
/* line 409, ../sass/styles.scss */
.sample-video-data ul li {
  float: left;
  height: 170px;
  width: 280px;
  margin: 50px 25px;
}
/* line 414, ../sass/styles.scss */
.sample-video-data ul li .video {
  position: relative;
}
/* line 417, ../sass/styles.scss */
.sample-video-data ul li .video .video-imag {
  position: absolute;
}
/* line 421, ../sass/styles.scss */
.sample-video-data ul li .video .play-button {
  position: absolute;
  background: url("../img/play-button.png");
  background-repeat: no-repeat;
  top: 30%;
  left: 40%;
  height: 70px;
  width: 70px;
}
/* line 429, ../sass/styles.scss */
.sample-video-data ul li .video .play-button:hover {
  position: absolute;
  background: url("../img/play-button-hover.png");
  background-repeat: no-repeat;
  top: 30%;
  left: 40%;
  height: 70px;
  width: 70px;
}

/*------- many-uses -------*/
/* line 446, ../sass/styles.scss */
.many-uses {
  background: url("../img/yellow-bg.png");
  background-repeat: repeat-x repeat-y;
}
/* line 450, ../sass/styles.scss */
.many-uses h1 {
  margin: 30px;
  vertical-align: middle;
  display: inline-block;
  color: #f25f5e;
  font-size: 30px;
  font-family: bariol_bold;
  text-shadow: 2px 0px 2px #ffffff;
}
/* line 453, ../sass/styles.scss */
.many-uses ul {
  overflow: hidden;
}
/* line 455, ../sass/styles.scss */
.many-uses ul li {
  float: left;
  height: 170px;
  width: 280px;
  margin: 0 0 0 50px;
}
/* line 460, ../sass/styles.scss */
.many-uses ul li h2 {
  height: 60px;
  text-align: left;
  font-size: 18px;
  color: #3d4258;
  font-weight: bold;
}
/* line 467, ../sass/styles.scss */
.many-uses ul li p {
  text-align: left;
}

/*------- Video Slider  -------*/
/* line 478, ../sass/styles.scss */
.slider-video .slider {
  margin: 0 auto;
}
/* line 480, ../sass/styles.scss */
.slider-video .slider h1 {
  margin: 30px;
  vertical-align: middle;
  display: inline-block;
  color: #f25f5e;
  font-size: 30px;
  font-family: bariol_bold;
  text-shadow: 2px 0px 2px #ffffff;
}
/* line 483, ../sass/styles.scss */
.slider-video .slider .slider-nav {
  margin: 20px;
}

/*------- Green Div for Sign Up and Price plan -------*/
/* line 492, ../sass/styles.scss */
.plans-price {
  background: #c9de74;
}
/* line 495, ../sass/styles.scss */
.plans-price .green-div {
  margin: 0 auto;
}
/* line 498, ../sass/styles.scss */
.plans-price .green-div h2 {
  margin: 25px 0px;
  display: inline-block;
  color: white;
  font-size: 24px;
  font-weight: bolder;
}
/* line 506, ../sass/styles.scss */
.plans-price .green-div a {
  margin: 0px 25px;
}

/*------- For Comercial Plans and Price Page -------*/
/* line 514, ../sass/styles.scss */
.package-selection {
  overflow: hidden;
}
/* line 520, ../sass/styles.scss */
.package-selection .title h1 {
  color: #1f1f1f;
  font-size: 30px;
  font-weight: bold;
  float: left;
  margin: 20px;
}
/* line 527, ../sass/styles.scss */
.package-selection .title a {
  float: right;
  margin: 30px 20px 0 0;
  color: #f25b5a;
  font-weight: bold;
  font-size: 18px;
}
/* line 535, ../sass/styles.scss */
.package-selection .each-package {
  float: right;
  padding-right: 20px;
}
/* line 544, ../sass/styles.scss */
.package-selection .each-package .pack1 {
  background: #b9e4e2;
  height: 200px;
  width: 240px;
  display: inline-block;
}
/* line 550, ../sass/styles.scss */
.package-selection .each-package .pack2 {
  display: inline-block;
  background: #b9e4e2;
  height: 200px;
  width: 240px;
}
/* line 555, ../sass/styles.scss */
.package-selection .each-package .pack3 {
  display: inline-block;
  background: #c9de74;
  height: 200px;
  width: 240px;
}
/* line 561, ../sass/styles.scss */
.package-selection .each-package .pack1-bottom {
  background: #b9e4e2;
  display: inline-block;
  width: 240px;
}
/* line 565, ../sass/styles.scss */
.package-selection .each-package .pack1-bottom p {
  font-size: 14px;
  color: #585858;
  font-weight: bold;
}
/* line 571, ../sass/styles.scss */
.package-selection .each-package .pack2-bottom {
  background: #b9e4e2;
  display: inline-block;
  width: 240px;
}
/* line 575, ../sass/styles.scss */
.package-selection .each-package .pack2-bottom p {
  font-size: 14px;
  color: #585858;
  font-weight: bold;
}
/* line 581, ../sass/styles.scss */
.package-selection .each-package .pack3-bottom {
  background: #c9de74;
  display: inline-block;
  width: 240px;
}
/* line 585, ../sass/styles.scss */
.package-selection .each-package .pack3-bottom p {
  font-size: 14px;
  color: #585858;
  font-weight: bold;
}
/* line 592, ../sass/styles.scss */
.package-selection .each-package h2 {
  padding-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
/* line 598, ../sass/styles.scss */
.package-selection .each-package p {
  padding: 15px;
  font-size: 22px;
  font-weight: normal;
  color: white;
}
/* line 604, ../sass/styles.scss */
.package-selection .each-package a {
  margin: 0 0 10px 0;
}
/* line 608, ../sass/styles.scss */
.package-selection .each-package .price {
  height: 60px;
  width: 240px;
  background: white;
  padding-top: 20px;
}
/* line 612, ../sass/styles.scss */
.package-selection .each-package .price span {
  font-weight: bold;
  color: #585858;
  font-size: 14px;
}

/* line 621, ../sass/styles.scss */
.package-details {
  font-size: 16px;
  text-align: left;
  padding: 20px;
}
/* line 626, ../sass/styles.scss */
.package-details .package_select {
  background: transparent url("../img/package-select.png") no-repeat center;
}
/* line 629, ../sass/styles.scss */
.package-details .package_select_none {
  background: transparent url("../img/package-select-none.png") no-repeat center;
}

/* line 634, ../sass/styles.scss */
.next-page {
  margin: 20px;
  text-align: right;
}
/* line 637, ../sass/styles.scss */
.next-page p {
  font-size: 18px;
}
/* line 640, ../sass/styles.scss */
.next-page span {
  color: #f25f5e;
  font-weight: bold;
}

/* line 646, ../sass/styles.scss */
.details {
  width: 100%;
  color: #565656;
  text-align: center;
  line-height: 40px;
}
/* line 656, ../sass/styles.scss */
.details colgroup .first-col {
  width: 250px;
}
/* line 659, ../sass/styles.scss */
.details colgroup .first-col tr td {
  text-align: left;
}
/* line 664, ../sass/styles.scss */
.details colgroup .second-col {
  width: 240px;
}
/* line 667, ../sass/styles.scss */
.details colgroup .third-col {
  width: 240px;
}
/* line 670, ../sass/styles.scss */
.details colgroup .fourth-col {
  width: 240px;
}
/* line 676, ../sass/styles.scss */
.details tr.alt-color-even td {
  background-color: #f6f6f6;
}
/* line 682, ../sass/styles.scss */
.details tr.alt-color-odd td {
  background-color: #f9f9f9;
}

/* line 689, ../sass/styles.scss */
.left {
  float: left;
}

/* line 693, ../sass/styles.scss */
.orange-color {
  color: #f25f5e;
  font-weight: bold;
}

/* line 698, ../sass/styles.scss */
.right {
  float: right;
}

/* line 701, ../sass/styles.scss */
.social-btns {
  margin-top: 20px;
  overflow: hidden;
}
/* line 704, ../sass/styles.scss */
.social-btns a {
  display: block;
  width: 175px;
}
/* line 710, ../sass/styles.scss */
.social-btns a .fb-main .fb-icon {
  background: url("../img/fb-icon.png") no-repeat;
  height: 23px;
  width: 16px;
  vertical-align: middle;
  display: inline-block;
  border-right: 2px solid #203b71;
  padding-right: 5px;
}
/* line 719, ../sass/styles.scss */
.social-btns a .fb-main .fb-text {
  color: white;
  font-weight: bold;
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  padding-left: 2px;
}
/* line 731, ../sass/styles.scss */
.social-btns a .gplus-main .gplus-icon {
  background: url("../img/g-plus-icon.png") no-repeat;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  display: inline-block;
  border-right: 2px solid #cecece;
  padding-right: 5px;
}
/* line 740, ../sass/styles.scss */
.social-btns a .gplus-main .gplus-text {
  color: #000;
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
  padding-left: 5px;
}

/*------- login page social button margin -------*/
/* line 754, ../sass/styles.scss */
.signup-margin {
  margin: 20px 0px;
}

/* line 758, ../sass/styles.scss */
.login-margin {
  margin: 15px 10px;
}

/*------- Account Settings -------*/
/* line 767, ../sass/styles.scss */
.account-settings ul {
  text-align: left;
}
/* line 769, ../sass/styles.scss */
.account-settings ul li {
  display: inline-block;
  height: 40%;
}
/* line 772, ../sass/styles.scss */
.account-settings ul li a {
  display: block;
  padding: 30px 20px;
  font-size: 20px;
  font-weight: bold;
}
/* line 780, ../sass/styles.scss */
.account-settings ul li a:active {
  color: #f25b5a;
}
/* line 783, ../sass/styles.scss */
.account-settings ul li a:visited {
  border-bottom: 5px solid #00f;
}

/* line 791, ../sass/styles.scss */
.selected {
  color: #f25b5a;
}

/*------- change password tab -------*/
/* line 797, ../sass/styles.scss */
.change-password-form {
  width: 500px;
  font-size: 18px;
  padding: 5px 20px 20px 20px;
}
/* line 803, ../sass/styles.scss */
.change-password-form h1 {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  padding: 20px 0px;
}
/* line 809, ../sass/styles.scss */
.change-password-form .input-box {
  overflow: hidden;
  margin: 20px 0;
}
/* line 812, ../sass/styles.scss */
.change-password-form .input-box .label {
  float: left;
  display: inline-block;
}
/* line 816, ../sass/styles.scss */
.change-password-form .input-box .input-field {
  float: right;
  display: inline-block;
}
/* line 819, ../sass/styles.scss */
.change-password-form .input-box .input-field input {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 30px;
  width: 250px;
  font-size: 25px;
  outline: none;
  padding: 5px;
  color: #3d4258;
}
/* line 831, ../sass/styles.scss */
.change-password-form .submit-btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  margin-right: 15px;
}
/* line 837, ../sass/styles.scss */
.change-password-form .submit-btn button {
  border: none;
  outline: none;
  margin-left: 145px;
}

/* line 845, ../sass/styles.scss */
.disp-none {
  display: none;
}

/*------- subscription page -------*/
/* line 852, ../sass/styles.scss */
.ac-subscription {
  overflow: hidden;
}
/* line 855, ../sass/styles.scss */
.ac-subscription .email-section {
  clear: both;
  overflow: hidden;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 500px;
  font-size: 20px;
  margin: 10px 0px 20px 0px;
}
/* line 863, ../sass/styles.scss */
.ac-subscription .email-section .email {
  display: inline-block;
  border-right: 1px solid #ccc;
  padding: 20px;
  margin-left: 50px;
}
/* line 870, ../sass/styles.scss */
.ac-subscription .email-section .email-info {
  display: inline-block;
  padding: 20px;
  text-align: left;
  width: 150px;
  margin-right: 20px;
}
/* line 880, ../sass/styles.scss */
.ac-subscription .email-note {
  margin: 20px 0px;
  font-size: 16px;
  text-align: left;
}
/* line 885, ../sass/styles.scss */
.ac-subscription .email-note a {
  color: #3d4258;
  font-weight: bold;
}
/* line 892, ../sass/styles.scss */
.ac-subscription .subs-details h1 {
  font-size: 18px;
  text-align: left;
  padding: 10px 0 10px 10px;
}
/* line 898, ../sass/styles.scss */
.ac-subscription .subs-details .subs-pack {
  overflow: hidden;
  border-top: 1px solid #ccc;
}
/* line 902, ../sass/styles.scss */
.ac-subscription .subs-details .subs-pack .subs-pack-title {
  float: left;
  text-align: left;
  padding: 10px;
  line-height: 25px;
  vertical-align: middle;
}
/* line 911, ../sass/styles.scss */
.ac-subscription .subs-details .subs-pack .subs-link {
  float: right;
  vertical-align: middle;
  margin-top: 10px;
}
/* line 915, ../sass/styles.scss */
.ac-subscription .subs-details .subs-pack .subs-link a {
  display: block;
  background: url("../img/subs.png") no-repeat;
  height: 40px;
  padding: 10px 20px;
}
/* line 920, ../sass/styles.scss */
.ac-subscription .subs-details .subs-pack .subs-link a:hover {
  display: block;
  background: url("../img/subs-hover.png") no-repeat;
  height: 40px;
  padding: 10px 20px;
}

/* line 935, ../sass/styles.scss */
.ac-email-pref {
  overflow: hidden;
}
/* line 939, ../sass/styles.scss */
.ac-email-pref .email-section {
  clear: both;
  overflow: hidden;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 700px;
}
/* line 946, ../sass/styles.scss */
.ac-email-pref .email-section .email {
  display: inline-block;
  border-right: 1px solid #ccc;
  padding: 30px 20px;
}
/* line 953, ../sass/styles.scss */
.ac-email-pref .email-section .email-info {
  float: left;
  display: inline-block;
  text-align: left;
  padding: 10px 35px;
}
/* line 959, ../sass/styles.scss */
.ac-email-pref .email-section .email-info h1 {
  font-weight: bold;
}

/* line 967, ../sass/styles.scss */
.alerts-section {
  margin: 20px 20px 0 20px;
}
/* line 969, ../sass/styles.scss */
.alerts-section h1 {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
}
/* line 974, ../sass/styles.scss */
.alerts-section .alerts {
  overflow: hidden;
  width: 600px;
}
/* line 977, ../sass/styles.scss */
.alerts-section .alerts .alert-info {
  float: left;
  display: inline-block;
  padding: 20px 0px;
  text-align: left;
}
/* line 982, ../sass/styles.scss */
.alerts-section .alerts .alert-info .news-note {
  color: #8e8e8e;
}
/* line 987, ../sass/styles.scss */
.alerts-section .alerts .alert-action {
  float: right;
  padding: 20px 0px;
}
