<html>
	<head>
		<title>Anivid : Animated Videos for your business</title>
		<script type="text/javascript" src="scripts/vendor/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="scripts/vendor/fabric/dist/all.js"></script>
		<!--script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js"></script-->
	</head>
	<body>
		<canvas id="fabcon" width="636" height="400"></canvas>
		<div><button onclick="anivid.prepare();">Preview</button></div>
	</body>
	<script defer="defer" type="text/javascript" src="scripts/global.js"></script>
	<script defer="defer" type="text/javascript" src="scripts/constants.js"></script>
	<script defer="defer" type="text/javascript" src="scripts/util.js"></script>
	<script defer="defer" type="text/javascript" src="scripts/scene.js"></script>
	<script defer="defer" type="text/javascript" src="scripts/character.js"></script>
	<script defer="defer" type="text/javascript" src="scripts/motion.js"></script>
	<script defer="defer" type="text/javascript" src="scripts/background.js"></script>
	<script defer="defer" type="text/javascript" src="scripts/assets.js"></script>
	<script defer="defer" type="text/javascript" src="scripts/main.js"></script>
</html>