/*------- general colors -------*/

$heading-color 			: 	#f25f5e;

$link-color 			: 	#f25b5a;

$text-color 			: 	#3d4258;

$footer-heading-color 	: 	#717171;

$footer-text-color 		: 	#c3c3c3;

$footer-text-color-hover : 	#717171;


