@import "compass/css3";

@import 'base';
@import 'fonts';
@import 'mixins1';
@import 'variables';

@import 'header';

@import 'your_video'; /* your video page css*/

@import 'footer';

@import 'popup'; /*------- popup css -------*/


/* Buttons that are used in general */

.btn-primary{
  	display: inline-block;
  	padding: 0 20px;
	background-color: #f25b5a;
	color:white;
	@include rounded(3px);
	@include btn(#f25b5a,#f28281);
}

.btn-secondary{
  	display: inline-block;
  	padding: 0 15px;
	background-color: #75201f;
	@include rounded(3px);
	@include btn(#75201f,#a45a59);

}

.btn-blue{ 

	padding: 5px 10px;
    background-color: #4479BA;
	border: solid 2px #203b71;
    @include rounded(4px);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  
    &:hover{
    	background-color: #356094;
		text-decoration: none;
    }
    
    &:active{
	    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	    background: #2E5481;
	    border: solid 1px #203E5F;
    }
}

.btn-white{ 

	padding: 5px 10px;
    background-color: #fbfbfb;
	border: solid 2px #cecece;
    @include rounded(4px);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  
    &:hover{
    	background-color: #eeeded;
		text-decoration: none;
    }
    
    &:active{
	    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	    background-color: #fbfbfb;
	    border: solid 1px #cecece;
    }
}

/*------- banner BG -------*/

.banner-bg{
	background:url("../img/banner.png");	
	height:440px;
	.banner{
		position:relative;
		h1{
			margin:20px 0 0 0;
			vertical-align:middle;
			display:inline-block;
			color:white;
			font-size:30px;
//			font-family:bariol_bold;
		}
		
		h2{
			font-size:24px;
			margin:10px 0 0 0;
			color:white;
			font-style:normal;
		}

		.banner-play-button{
			position:absolute;
			background:url('../img/banner-play-button.png');
			background-repeat: no-repeat;
			@include divSize(100px,100px);
			left:45%;
			top:210%;

			&:hover{
				position:absolute;
				background:url('../img/banner-play-button-hover.png');
				background-repeat: no-repeat;
			}
		}
		.char1{
			position:absolute;
			background:url('../img/character1.png');
			background-repeat: no-repeat;
			height:210px;
			width:100px;
			left:9%;
			top:145%;			
		}
		.char2{
			position:absolute;
			background:url('../img/character2.png');
			background-repeat: no-repeat;
			@include divSize(260px,150px);
			left:25%;
			top:165%;			
		}
		.char3{
			position:absolute;
			background:url('../img/character3.png');
			background-repeat: no-repeat;
			@include divSize(260px,150px);
			left:55%;
			top:165%;			
		}

		.char4{
			position:absolute;
			background:url('../img/character4.png');
			background-repeat: no-repeat;
			@include divSize(210px,100px);
			left:78%;
			top:145%;			
		}

		.btn{
			position:absolute;
			width:150px;
			left:42.5%;
			top:370%;			
			a{
				padding:7px 30px;
			}
		}

	}
}


/*-------------diagonal texture -------*/

.diagonal-texture{
	@include lineTexture;
	
	h1{
		@include heading-title;
	}

	.great-videos-info{
		ul{
			overflow:hidden;
			li{
				float:left;
				/* divSize($height, $width)*/
				@include divSize(250px,280px); 
				margin: 0 0 0 50px;
				padding-top:30px;
				.screen{
					background-image:url('../img/sprites.png');
					background-position: 0px -600px;
					margin:0 auto;
					@include divSize(65px,80px); 
				}
				.rocket{
					background-image:url('../img/sprites.png');
					background-position: -100px -600px;
					margin:0 auto;
					@include divSize(65px,80px); 
				}
				.picture{
					background-image:url('../img/sprites.png');
					background-position: -200px -600px;
					margin:0 auto;
					@include divSize(65px,80px); 
				}

				h2{
					height:50px;
					font-size:18px;
					margin:20px;
					color:$text-color;
					font-weight:bold;
				}

			}
		}
	}
}



/*------- video-data -------*/

.video-data{
	height:1000px;
	@include lineTexture;

	.animated-video{

		h1{
			@include heading-title;
			padding-bottom:60px;
		}

		.mac{
			margin:0 auto;
			position:relative;
			left:7%;

			.thumblin-diversity{
				height : 250px;
				width : 250px;
				position: absolute;
				left:-10%;
				top:3%;			
			}
			
			.thumblin-laws{
				height : 250px;
				width : 250px;
				position: absolute;
				left:29%;
				top:-10%;			
			}

			.thumblin-ideas{
				height : 250px;
				width : 250px;
				position: absolute;
				left:61%;
				top:2%;
			}

			.thumblin-explore{
				height : 250px;
				width : 250px;
				position: absolute;
				left:-10%;
				top:68%;
			}
			
			.thumblin-thoughts{
				height : 250px;
				width : 250px;
				position: absolute;
				left:30%;
				top:90%;
			}
			
			.thumblin-strike{
				height : 250px;
				width : 250px;
				position: absolute;
				left:61%;
				top:75%;
			}
		}
	}
}


.thumblin-diversity{
	.thumblin-text{
		h2{
			@include sub-heading;
			padding:10px 0 0 30px;
		}
		p{
			color:$text-color;
			padding-left:30px;
			padding-top:10px;
			line-height:20px;
			text-align:left;
			word-spacing:5px;
		}
	}
}

.thumblin-laws{
	.thumblin-text{
		h2{
			@include sub-heading;
			padding:10px 0 0 30px;
		}
		p{
			color:$text-color;
			padding-left:30px;
			padding-top:10px;
			line-height:20px;
			text-align:left;
			word-spacing:5px;			
		}
	}
}

.thumblin-ideas{
	.thumblin-text{
		h2{
			@include sub-heading;
			padding:10px 0 0 30px;
		}
		p{
			color:$text-color;
			padding-left:30px;
			padding-top:10px;
			line-height:20px;
			text-align:left;
			word-spacing:5px;			
		}
	}
}

.thumblin-explore{
	.thumblin-text{
		h2{
			@include sub-heading;
			padding:10px 0 0 30px;
		}
		p{
			color:$text-color;
			padding-left:30px;
			padding-top:10px;
			line-height:20px;
			text-align:left;
			word-spacing:5px;			
		}
	}
}

.thumblin-thoughts{
	.thumblin-text{
		h2{
			@include sub-heading;
			padding:10px 0 0 30px;
		}
		p{
			color:$text-color;
			padding-left:30px;
			padding-top:10px;
			line-height:20px;
			text-align:left;
			word-spacing:5px;			
		}
	}
}

.thumblin-strike{
	.thumblin-text{
		h2{
			@include sub-heading;
			padding:10px 0 0 30px;
		}
		p{
			color:$text-color;
			padding-left:30px;
			padding-top:10px;
			line-height:20px;
			text-align:left;
			word-spacing:5px;			
		}
	}
}




/*------- sample video -------*/

.sample-video-data{
	background:#90dbd8;	
	
	h1{
		@include heading-title;
	}
	
	ul{
		overflow:hidden;
		li{
			float:left;
			@include divSize(170px,280px); 
			margin: 50px 25px;
			
			.video{
				position:relative;
			
				.video-imag{
					position:absolute;
				}	
			
				.play-button{
				position:absolute;
				background:url('../img/play-button.png');
				background-repeat:no-repeat;
				top:30%;
				left:40%;
				@include divSize(70px,70px);
			
				&:hover{
					position:absolute;
					background:url('../img/play-button-hover.png');
					background-repeat:no-repeat;
					top:30%;
					left:40%;
					@include divSize(70px,70px);
				}
			}

			}
		}
	}
}

/*------- many-uses -------*/

.many-uses{
	background:url("../img/yellow-bg.png");
	background-repeat:repeat-x repeat-y;

	h1{
		@include heading-title;
	}
	ul{
		overflow:hidden;
		li{
			float:left;
			@include divSize(170px,280px);
			margin: 0 0 0 50px;

			h2{
				height:60px;
				text-align:left;
				font-size:18px;
				color:$text-color;
				font-weight:bold;
			}
			p{
				text-align:left;			
			}
		}
	}
}


/*------- Video Slider  -------*/

.slider-video{
	.slider{
		margin:0 auto;
		h1{
			@include heading-title;
		}
		.slider-nav{
			margin:20px;
		}
	}
}


/*------- Green Div for Sign Up and Price plan -------*/

.plans-price{

	background:#c9de74;
	.green-div{
		margin:0 auto;
		
		h2{
			margin:25px 0px;
			display : inline-block;
			color:white;
			font-size:24px;
			font-weight:bolder;
		}
		
		a{
			margin : 0px 25px;
		}
	}
}


/*------- For Comercial Plans and Price Page -------*/
.package-selection{
	// height:auto;
	// border : 1px solid #ccc;
	overflow:hidden;

	.title{
		h1{
			color:#1f1f1f;
			font-size:30px;
			font-weight:bold;
			float:left;
			margin:20px;
		}
		a{
			float:right;
			margin:30px 20px 0 0;
			color:$link-color;
			font-weight:bold;
			font-size:18px;
		}
	}
	.each-package{
		float:right;
		padding-right:20px;

		$pack-color: #b9e4e2;
		$title-font-size: 20px;
		$text-font-size:22px;
		$white:white;

		.pack1{
			background:$pack-color;
			@include divSize(200px, 240px);
			display: inline-block;
		}

		.pack2{
			display: inline-block;
			background:$pack-color;
			@include divSize(200px, 240px);
		}
		.pack3{
			display: inline-block;
			background:#c9de74; // dark green div color
			@include divSize(200px, 240px);
		}

		.pack1-bottom{
			background:$pack-color;
			display: inline-block;
			width:240px;			
			p{
				font-size:14px;
				color:#585858;
				font-weight:bold;
			}	
		}
		.pack2-bottom{
			background:$pack-color;
			display: inline-block;
			width:240px;	
			p{
				font-size:14px;
				color:#585858;
				font-weight:bold;
			}			
		}
		.pack3-bottom{
			background:#c9de74;;
			display: inline-block;
			width:240px;	
			p{
				font-size:14px;
				color:#585858;
				font-weight:bold;
			}			
		}

		h2{
			padding-top:15px;
			font-size:$title-font-size;
			font-weight:bold;
			color:$white;
		}
		p{
			padding:15px;
			font-size:$text-font-size;
			font-weight:normal;
			color:$white;
		}
		a{
			margin:0 0 10px 0;
		}

		.price{
			@include divSize(60px, 240px);
			background:white;
			padding-top:20px;	
			span{
				font-weight:bold;
				color:#585858;
				font-size:14px;
			}
		}
	}
}

.package-details{
	font-size:16px;
	text-align:left;
	padding:20px;
	//font-weight:normal;
	.package_select{
		background:transparent url("../img/package-select.png") no-repeat center;
	}
	.package_select_none{
		background:transparent url("../img/package-select-none.png") no-repeat center;
	}
}

.next-page{
	margin:20px;
	text-align:right;
	p{
		font-size:18px;
	}
	span{
		color:$heading-color;
		font-weight:bold;
	}
}

.details{
	// border-collapse:collapse;
//	cellpadding:10px;
	width:100%;
	color:#565656;
	// border:1px solid #000;
	text-align:center;
	line-height:40px;
	
	colgroup{
		.first-col{
			width:250px;
			tr{
				td{
					text-align:left;				
				}
			}
		}
		.second-col {
			width:240px;
		}
		.third-col {
			width:240px;
		}
		.fourth-col {
			width:240px;
		}
	}

	tr.alt-color-even{
		td{
			background-color:#f6f6f6;
		}
	}

	tr.alt-color-odd{
		td{
			background-color:#f9f9f9;
		}
	}
}	


.left{
	float:left;
}

.orange-color{
	color:$heading-color;
	font-weight:bold;
}

.right{
	float:right;
}
.social-btns{
	margin-top:20px;
	overflow:hidden;
	a{
		display:block;
		width:175px;

		.fb-main{

			.fb-icon{
				background:url('../img/fb-icon.png') no-repeat;
				height:23px;
				width:16px;
				vertical-align:middle;
				display:inline-block;
				border-right:2px solid #203b71;
				padding-right:5px;
			}
			.fb-text{
				color:white;
				font-weight:bold;
				font-size:14px;
				vertical-align:middle;
				display:inline-block;
				padding-left:2px;
			}
		}

		.gplus-main{

			.gplus-icon{
				background:url('../img/g-plus-icon.png') no-repeat;
				height:20px;
				width:20px;
				vertical-align:middle;
				display:inline-block;
				border-right:2px solid #cecece;
				padding-right:5px;
			}
			.gplus-text{
				color:#000;
				font-weight:bold;
				font-size:15px;
				display:inline-block;
				padding-left:5px;
			}
		}
	}
}


/*------- login page social button margin -------*/

.signup-margin{
	margin:20px 0px; 
}

.login-margin{
 	margin:15px 10px; 
}


/*------- Account Settings -------*/


.account-settings{
	ul{
		text-align:left;
		li{
			display:inline-block;
			height:40%;
			a{
				display:block;
				padding:30px 20px;
				font-size:20px;
				font-weight:bold;
				&:hover{
					// color:$link-color;
				}
				&:active{
					color:$link-color;
				}
				&:visited{
					border-bottom:5px solid #00f;
				}
			}
		}
	}
}

.selected{
	color:$link-color
}

/*------- change password tab -------*/

.change-password-form{

	width:500px;
	font-size:18px;
	padding:5px 20px 20px 20px;

	h1{
		font-size:18px;
		text-align:left;
		font-weight:bold;
		padding:20px 0px;
	}
	.input-box{
		overflow:hidden;
		margin:20px 0;
		.label{
			float:left;
			display:inline-block;
		}
		.input-field{
			float:right;
			display:inline-block;
			input{
				border:1px solid #ccc;
				@include rounded(5px);
				height:30px;
				width:250px;
				font-size:25px;
				outline:none;
				padding:5px;
				color:$text-color;
			}
		}
	}
	.submit-btn{
		display:inline-block;
		vertical-align:middle;
		font-size:18px;
		// font-style:bariol_regular;
		margin-right:15px;
		button{
			border:none;
			outline:none;
			margin-left:145px;					
		}
	}
}

.disp-none{
	display:none;
}


/*------- subscription page -------*/

.ac-subscription{
	overflow:hidden;

	.email-section{
		clear:both;
		overflow:hidden;
		border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;
		width:500px;	
		font-size:20px;
		margin:10px 0px 20px 0px;
		.email{
			display: inline-block;
			border-right:1px solid #ccc;
			padding:20px;
			margin-left:50px;
		}
		
		.email-info{
			display: inline-block;			
			padding:20px;
			text-align:left;
			width:150px;
			margin-right:20px;
			//color:#ddd;
		}
	}
	
	.email-note{
		margin:20px 0px;
		font-size:16px;
		text-align:left;

		a{
			color:$text-color;
			font-weight:bold;
		}
	}

	.subs-details{
		h1{
			// float:left;
			font-size:18px;
			text-align:left;
			padding:10px 0 10px 10px;
		}
		.subs-pack{
			overflow:hidden;
			border-top:1px solid #ccc;

			.subs-pack-title{
				float:left;
				text-align:left;
				padding:10px;
				line-height:25px;
				vertical-align:middle;
					
			}

			.subs-link{
				float:right;
				vertical-align:middle;
				margin-top:10px;
				a{
				display:block;
				background:url('../img/subs.png') no-repeat;
				height:40px;
				padding:10px 20px;
					&:hover{
					display:block;
					background:url('../img/subs-hover.png') no-repeat;
					height:40px;
					padding:10px 20px;					
					}
				}
			}
		}
	}
}




.ac-email-pref{

	overflow:hidden;

	.email-section{
		clear:both;
		overflow:hidden;
		border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;
		width:700px;

		.email{
			display: inline-block;
			border-right:1px solid #ccc;
			// margin-left:50px;
			padding:30px 20px;
		}
		
		.email-info{
			float:left;
			display: inline-block;			
			text-align:left;
			// margin-right:20px;
			padding: 10px 35px;
			h1{
				font-weight:bold;
			}
		}
	}

}

.alerts-section{
	margin:20px 20px 0 20px;
	h1{
		font-size:22px;
		font-weight:bold;
		text-align:left;
	}
	.alerts{
		overflow:hidden;
		width:600px;
		.alert-info{
			float:left;
			display:inline-block;
			padding:20px 0px;
			text-align:left;
			.news-note{
				color:#8e8e8e;
			}
		}

		.alert-action{
			float:right;
			padding:20px 0px;
		}
	}
}