<!doctype html>
<html lang="en">
<head>

	<meta charset="UTF-8">

	<meta name="description" content="Creating Animation and Video.">

	<meta name="viewport" content="width=device-width">

	<title>ANIVID - Personal use plans </title>

	<link rel="stylesheet" href="css/styles.css">

	<script src="js/jquery.min.js" type="text/javascript"></script>
</head>

<body>
	
	<div id = "wrapper">
		
		<div class = "container">
			
			<div class = "header">
				
				<div class = "header-left">
				
					<a href="index.html" title = "Logo"></a>&nbsp;&nbsp;<h1>ANIVID</h1>
				
				</div><!-- end header -->
				
				<div class = "header-right">
					
					<!-- <div class = "before-login">
						<ul>
							<li><a href="#">Sign up</a></li>
							
							<li><a href="#">Login</a></li>
							
							<li class ="drop-down-menu"><a  href="#">Plans and Pricing <img src="img/dropdown.png" alt="Arrow"></a>
								
								<ul class = "dropdown">
										<li><a href="javascript:void(0)">For Commercial use</a></li>
										<li><a href="javascript:void(0)">For Personal use </a></li>
								</ul>	

							</li>
						
							<a href="#" class ="btn-primary">START TRY</a>
						
						</ul>						

					</div>	 -->
					<!-- end before-login-->		

					
					<div class = "after-login">
							<ul>
								<li class = "drop-down-menu">
									<a href = "#" >Your Account 
										<img src="img/dropdown.png" alt="Drop Down Arrow">
									</a>
									<ul class = "dropdown">
										<li><a href=""></a>Your videos</li>
										<li>Account Settings</li>
										<li>Log out</li>
									</ul>
								</li>
								<li class = "drop-down-menu">
									<a href = "#">Plans and Pricing 
									<img src="img/dropdown.png" alt="Drop Down Arrow"></a>
									
									<ul class = "dropdown">
										<li><a href="commercial-use-plans.html">For Commercial use</a></li>
										<li><a href="personal-use-plans.html">For Personal use </a></li>
									</ul>	
								</li>
							</ul>
							
							<a href="#" class ="btn-primary">START TRY</a>
					</div> 
					<!-- end after - login -->

				</div>
				<!-- end header-right -->

			</div>
			<!-- end header -->
		</div>
		<!-- end container -->
		
		<div class="container">
		
			<section class="package">

				<div class = "package-selection">

					<div class="title">

						<h1>Our Plans for Personal Use</h1>
						<a href="#">View plans for commercial use &gt;</a>
					</div><!-- end title -->

					<div class = "each-package">
						
						<div class = "pack1">
							<h2>Standard</h2>
							<p>Make videos for fun.<br/>For personal use only.</p>
							<a href = "javascript:void(0)" class = "btn-primary">Choose plan</a>
							<div class = "price"><span>$18/quarter <br/>or $58/year</span></div>	
						</div>

					
						<div class = "pack3">
							<h2>Premium</h2>
							<p>Most cost-effective<br/>business plan.</p>
							<a href = "javascript:void(0)" class = "btn-secondary">Choose plan</a>
							<div class = "price"><span>$99/quarter <br/>or $299/year</span></div>

						</div>

					</div><!-- end each-package -->
				</div><!-- end package-selection -->

				<div class = "package-details">
					<table class = "details">

						<colgroup>
							<col></col>
						</colgroup>
						<tr class = "alt-color-odd">
							<td>Download / Export Resolution</td>
							<td>360P</td>
							<td>up to 720P</td>
						</tr>
						<tr class = "alt-color-even">
							<td>Export to YouTube,Other Sites</td>
							<td class = "package_select"></td>
							<td class = "package_select"></td>
						</tr>
						<tr class = "alt-color-odd">
							<td>Produce any number of videos</td>
							<td class = "package_select"></td>
							<td class = "package_select"></td>
						</tr>
						<tr class = "alt-color-even">
							<td>Unlimited Hosting / Playback</td>
							<td class = "package_select"></td>
							<td class = "package_select"></td>
						</tr>
						<tr class = "alt-color-odd">
							<td>Import Audio, Image and Flash</td>
							<td class = "package_select"></td>
							<td class = "package_select"></td>
						</tr>
						<tr class = "alt-color-even">
							<td>Acess All Themes</td>
							<td class = "package_select_none"></td>
							<td class = "package_select"></td>
						</tr>
						<tr class = "alt-color-odd">
							<td>Organise your videos</td>
							<td class = "package_select_none"></td>
							<td class = "package_select"></td>
						</tr>
						<tr class = "alt-color-even">
							<td>Add Clickable Links</td>
							<td class = "package_select_none"></td>
							<td class = "package_select_none"></td>
						</tr>
						<tr class = "alt-color-odd">
							<td>Replace Watermark</td>
							<td class = "package_select_none"></td>
							<td class = "package_select_none"></td>		
						</tr>
						<tr class = "alt-color-even">
							<td>Remove / Rotate Watermarks</td>
							<td class = "package_select_none"></td>
							<td class = "package_select_none"></td>
						</tr>
						<tr class = "alt-color-odd">
							<td>Transfer Commercial Rights</td>
							<td class = "package_select_none"></td>
							<td class = "package_select_none"></td>
						</tr>
					</table>
				</div>

				<!-- bottom menus choose plan -->
				
				<div class = "package-selection">
					<div class = "each-package">
						
						<div class = "pack1-bottom">
							<p>$18/quarter <br/>or $58/year</p>

							<a href = "javascript:void(0)" class = "btn-primary">Choose plan</a>
	
						</div>
					
						<div class = "pack3-bottom">

							<p>$99/quarter <br/>or $299/year</p>

							<a href = "javascript:void(0)" class = "btn-secondary">Choose plan</a>
						</div>

					</div><!-- end each-package -->
				</div>

			</section><!-- end package -->	

		</div><!-- end container -->

	
		<div class = "footer-main">
			<div class="footer">
				<div class="footer-top">
					<div class="left-one">
						<h3>About</h3>
						<ul>
							<li><a href="#">Who we are</a></li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Blog</a></li>
						</ul>
					</div>
					<div class="left-two">
						<h3>Solutions</h3>
						<ul>
							<li><a href="#">Plans and pricing</a></li>
							<li><a href="#">Affiliates program</a></li>
						</ul>
					</div>
					<div class="right-one">
						<h3>Usage guidelines</h3>
						<ul>
							<li><a href="#">Video maker tips</a></li>
							<li><a href="#">Help Videos</a></li>
							<li><a href="#">FAQs</a></li>
							<li><a href="#">Forums</a></li>
						</ul>
						
					</div>
					<div class="right-two">
						<h3>Getting Help</h3>
						<ul>
							<li><a href="#">Terms of use for everyone</a></li>
							<li><a href="#">Additional terms for use</a></li>
							<li><a href="#">Legal notices</a></li>
							<li><a href="#">Privacy policy</a></li>
						</ul>
					</div>
				</div><!-- end footer top -->

				<div class="footer-bottom">
					<ul>
						<li><a href="#" class = "fb"></a></li>
						<li><a href="#" class = "twitter"></a></li>
						<li><a href="#" class = "g-plus"></a></li>
						<li><a href="#" class = "in"></a></li>
						<li><a href="#" class = "you-tube"></a></li>
					</ul>					
					<a href="#" class = "norton"></a>
				</div><!-- end footer-bottom -->

				<div class="copy-right">
					Anivid &copy; 2013
				</div><!-- end copyright -->
				
			</div>
		</div>
	</div><!-- end wrapper -->

	<script>

	/* display the menu on click*/
	$(".drop-down-menu").click(function(e){
		$(this).siblings().removeClass('open')
		e.stopPropagation();
		$(this).addClass('open');
		
	});

	/* it hides the menu*/
	$(document).click(function(){
		 $('.drop-down-menu').removeClass('open');
	});

	</script>

</body>
</html>